[2015-11-29 08:08] markulf opened #1 "Clean up `libs` folder."
Title says it all. General purpose libraries have been moved to https://github.com/FStarLang/FStar/tree/master/contrib.

[2016-01-12 13:24] beurdouche opened #2 "Renaming miTLS modules ?"
Could we rename miTLS modules by prefixing them with the project name ?
e.g. ``` Handshake -> MiTLS.Handshake```

It would we cleaner that way and probably useful for `FlexTLS` too.

[2016-01-12 13:34] fournet commented on #2
I’d prefer to avoid this overhead in code & makefiles; we can revisit later if need be. –Cédric

From: Benjamin Beurdouche [mailto:notifications@github.com]
Sent: 12 January 2016 05:25
To: mitls/mitls-fstar <mitls-fstar@noreply.github.com>
Subject: [mitls-fstar] Renaming miTLS modules ? (#2)

Could we rename miTLS modules by prefixing them with the project name ?
e.g. Handshake -> MiTLS.Handshake

[2016-02-12 09:38] beurdouche commented on #1
I think we should simply delete this folder, it is more confusing than useful...

[2016-02-12 14:32] ad-l opened #4 "Incorrect implementation of CertificateRequest in TLS 1.0"
Santiago pointed out that the format of the CertificateRequest message has changed between 1.0 and 1.2:

Original:
'''
struct {
 ClientCertificateType certificate_types<1..2^8-1>;
 DistinguishedName certificate_authorities<3..2^16-1>;
}'''

Updated in 1.2:
'''
struct {
 ClientCertificateType certificate_types<1..2^8-1>;
 SignatureAndHashAlgorithm supported_signature_algorithm<2^16-1>;
 Distinguish

[2016-02-12 15:29] s-zanella commented on #4
It's even more complicated (look at the minimum length of `certificate_authorities`):

TLS 1.0 (http://tools.ietf.org/html/rfc2246#section-7.4.4):
[code]
TLS 1.1 (http://tools.ietf.org/html/rfc4346#section-7.4.4):
[code]
TLS 1.2 (http://tools.ietf.org/html/rfc5246#section-7.4.4):
[code]
Here I believe `<2^16-1>` should be interpreted as `<0..2^16-1>`.

[2016-03-01 13:58] beurdouche opened #5 "Build on OSX is broken by default (libsqlite3 and libcrypto)"
[build] [documentation]
You might have trouble building `miTLS*` under OSX because of `openssl` or `sqlite3`.
This is because OSX ship with old versions of those libraries by default.

This will cause errors similar to this one when building `miTLS*`:
[code]

You might want to install newer versions using `homebrew` to solve this problem, but be aware that it will not be linked by default. When in

[2016-03-01 14:43] markulf commented on #1
@s-zanella @karthikbhargavan still anything useful in here? Otherwise I would delete it.

[2016-03-01 15:36] s-zanella commented on #1
I believe we are not using anything in that folder now. It's fine to remove CoreCrypto and Platform now, but there are bits that we want to keep for later (e.g. the standalone DHDBManager). I can recover the code from somewhere else if need be, but I don't see the urge to delete everything.

[2016-03-01 15:41] markulf commented on #1
ok, deleted deprecated folders only. What about the fs/ folder?

[2016-03-01 15:42] s-zanella commented on #1
That folder contains the bulk of DHDBManager, so don't delete at least the DHDBManager subfolder.

[2016-04-06 14:02] sishtiaq opened #6 "Platform.Bytes"
Make the file safe; make sure the type is abstract
Understand which miTLS parts actually need bytes; which parts can get away with immutable strings
Rename bytes into something else to clear the confusion (Pervasive.bytes != Platform.Bytes.bytes)
Figure out whether there's a performance hit when the Platform.Bytes.bytes are converted into C-style buffers in the C side of CoreCrypto
Be compatible w

[2016-04-06 14:05] sishtiaq opened #7 "Platform.Date"
Pretty minimalistic
Needs tests

[2016-04-06 14:08] sishtiaq opened #8 "Platform/TCP"
Unit test for TCP (also giving baseline for unencrypted traffic)
Current status: Leave as is for now; but needs to be improved eventually

[2016-04-06 14:11] sishtiaq opened #9 "General-purpose database implementation"
DHDB:
Uses DB for storing DH parameters
Sign-off criteria:
  Ocaml tests to read and write DH parameters via the DB interface beneath it
  F\* program extracted to Ocaml exercising the same functionality

DB:
Uses sqlite3
Used to work with SQLite3 from F# (?)

We need better tests, and existing tests are broken.

[2016-04-06 14:13] sishtiaq opened #10 "Unit tests for CoreCrypto"
Wrappers around OpenSSL
    Current status: Mostly done.
    Lots of tests for AES_GCM, AES_CBC, HMAC, SHA*, ECC, ECDHE, FFDHE
    More interop tests for signatures needed (i.e. right now a dummy implementation would pass these tests -- need to check that the actual bytes are correct)
    Specifically, we need test vectors for TestRsa, TestDsa, TestEcdsa
    Plenty of vectors we can borrow from Op

[2016-04-06 14:15] sishtiaq opened #11 "Integrate Curve25519 code form Hacl*"
Where is it today?
Can we add it to the F\* regression suite?
Perhaps a separate project/sub-module on github

[2016-04-06 14:19] sishtiaq opened #12 "Remove preprocessor"
We will get rid of the pre-processor for good
Instead, we will use language-level conditionals

Roughly:
    We type-check the program w.r.t an abstract predicate safeId: id -> Tot bool
    Concretely, the predicate is always false

How to get extraction to be smart enough to get rid of ideal stuff, unused concretely?
Maybe switch to use options everywhere for logs, for example.

Plan:
    For now

[2016-04-06 14:22] sishtiaq opened #13 "Implement ciphersuite TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256"
Running one ciphersuite: TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
a. Ciphersuite:
    i. RSA: not done yet, dummy implementation. No signing yet either.
    ii. ECDHE, AES128, GCM, SHA256 done.
b. First TLS 1.2. , then TLS 1.3 (1-RTT), then TLS 1.3 0-RTT.
c. As client + server in the same program (intermediate step with idealization, may be skipped)
d. As client + server on their own
e. Interop.
f. S

[2016-04-06 14:24] sishtiaq opened #14 "Implement and verify Record layer"
@nikswamy @fournet
Implement & verify the top-level TLS API for the record layer

[2016-04-06 14:33] sishtiaq opened #15 "TLSConstants.fst"
Verifies, but has ~10 admits
Requires improvement from F* to handle nested recursive functions (Nik)
Nik to remove all existing admits
Later, refactor TLSConstants moving parts of it to CoreCrypto (not yet assigned)

[2016-04-06 14:35] sishtiaq opened #16 "Nonce.fst"
Needs to be fixed to do idealization properly
Currently uses a local 'ideal' flag

[2016-04-06 14:36] sishtiaq opened #17 "Implement FFDHE and ECDHE key exchange"
DHGroup.p.fst
ECGroup.fst
CommonDH.fst

[2016-04-06 14:37] sishtiaq opened #18 "Key encapsulation"
PMS.p.fst (included in tls-gen, but not yet verified)
PRF.fst (included in tls-gen)
HSCrypto.fst (included in tls-gen)
    Temporary: to be replaced by existing modules + an HKDF module
    Karthik's plan: Focus on extraction and testing first, in a single file
    Markulf and Cédric will split it back into the expected modular structure after it extracts and is tested
Currently serves as an inter

[2016-04-06 14:39] sishtiaq opened #19 "Finished message"
HASH.fst:
  Could be moved to CoreCrypto

HMAC.fst:
  Code for the finished message
   Could be moved to CoreCrypto, once TLSConstants is partially moved there

Used only by the Handshake; need to understand the HS spec before completing this

[2016-04-06 14:39] s-zanella commented on #17
These files are now type checking and call into CoreCrypto to implement key exchange.
Use DHGroup.fst, DHGroup.p.fst is gone.

[2016-04-06 14:40] sishtiaq opened #20 "Signatures"
Owned by Antoine, interface to X.509.
Sig.p.fst
UntrustedCert.fst
Cert.fst

[2016-04-06 14:41] sishtiaq opened #21 "TLSInfo.fst"
Still many assumes, although, many related to idealization
As we remove the pre-processor, these assumes will be replaced by abstract predicates

[2016-04-06 14:42] sishtiaq opened #22 "Stabilize verification of Range.fst"
This one dominates verification time for the whole project (currently)
Should tune it: Both on fuel parameters; and disabling some stuff (Nik)
Anything marked as (* Sanity Check *) can be commented out
Currently specialized to exclude TLS-1.3, to be improved

[2016-04-06 14:49] sishtiaq opened #23 "Support more groups"
Depends on #13.
Initially use a few named curves: ECC_P256 for both, then 25519 for TLS 1.3
Add DHE with named groups (we start with ECDHE because that's what 1.3 does)
Add DHE with custom groups & proper checks (requires persistent DB)

[2016-04-06 14:52] sishtiaq opened #24 "Support certificate checking"
Depends on #13.
Initially we may just accept any chain, or even any signature.

[2016-04-06 14:53] sishtiaq opened #25 "Support state and resumption"
Depends on #13
Requiring some persistent DB.

[2016-04-06 14:53] sishtiaq opened #26 "Support more ciphersuites and extensions"
Depends on #13

[2016-04-06 14:56] sishtiaq opened #27 "Add CI support on all platforms."
Linux, OS X, Windows.
Strider, Travis, NuBuild.

[2016-04-06 14:59] sishtiaq opened #28 "Revive FlexTLS"
@beurdouche @karthikbhargavan @sishtiaq

[2016-04-06 15:01] s-zanella commented on #10
- [ ] Test vectors for point EC membership
- [ ] Test vectors for FFDHE and ECDHE
- [ ] Test vectors fro RSA, DSA and ECDSA signatures
- [ ] Test vectors for AES_GCM
- [ ] Test vectors for AES_CBC
- [ ] Test vectors for HMAC
- [ ] Test vectors for SHA1, SHA256, SHA384

[2016-04-06 15:11] s-zanella commented on #22
- [ ] Unnecessary sanity checks are now commented out.
- [ ] Fuel has been tuned for all lemmas.

Range.fst takes just 30s to verify on its own (i.e. `time make Range.fst-ver`).
When running `make tls-ver` Z3 gets confused because there are many more things in the context, and this results either in a failure or a excessively long verification time.

[2016-04-06 15:17] s-zanella commented on #12
Files currently needing pre-processing:
- [ ] PMS.fst
- [ ] Sig.fst
- [ ] PRF.fst

[2016-04-06 15:19] s-zanella commented on #23
Closing because this is covered in #17.

[2016-04-06 15:19] #23 closed

[2016-04-06 15:23] markulf commented on #16
Do we need a global flag in TLSInfo. Will it turn all idealizations off by being added as conjunct to security predicates like Auth and Safe?

[2016-04-06 15:24] sishtiaq opened #29 "interop"
@s-zanella @sishtiaq @karthikbhargavan
Interop testing: Schannel #53, OpenSSL, NSS, TLS1.3JS.

[2016-04-06 15:26] sishtiaq opened #30 "Extraction"
@nikswamy @protz @sishtiaq

[2016-04-06 15:27] sishtiaq opened #31 "rm unused files"
ls gives us more files than the Makefile's ordered ones.

[2016-04-06 15:27] markulf commented on #18
The current goal is to wrap all of this modules into a mini handshake KeySchedule.fst module.

[2016-04-06 15:29] sishtiaq opened #32 "src/tls/test"
TestRecord.fst @s-zanella  @protz working on this

Currently not fully working, although maybe they once did
StAEAD_HHSample.fst
StAEADSample.fst
TestGCM.fst

[2016-04-06 15:40] sishtiaq opened #33 "Crypto.dfy + miTLS.fst interops"
Easy: compile F* to F#, Dafny to C#. Done

Better: We work on a compilation pipeline from a miniML intermediate language to C++
miniML is designed to be an easy compilation target for F* and Dafny
We compile both to miniML and interop natively in C++

[2016-04-06 15:42] sishtiaq opened #34 "Unit test for StatefulLHAE and StreamAE"
Unit test for StatefulLHAE and StreamAE, running and verifying (4 goals with AES_GCM first)
    a. Pick some content for bulk encryption, facilitating comparisons e.g. with OpenSSL; write the corresponding SamplePlain module for confidentiality and integrity (simplified from DataStream--Content--LHAEPlain/StreamPlain), validating our AE code is not TLS specific [Santiago]
    b. Set up interop tes

[2016-04-06 15:57] sishtiaq opened #35 "Functional Handshake module (no resumption, rekey, rehandshake)"
Top-level interface to sub-protocol. Owned by @karthikbhargavan
Reconcile with Handshake.fsti.

[2016-04-06 15:58] sishtiaq opened #36 "TLSExtensions"
Not part of any build.

[2016-04-06 15:59] sishtiaq opened #37 "DH.fst"
Will probably go away; to be deleted eventually by @s-zanella .

[2016-04-06 16:00] sishtiaq opened #38 "AppData.fst"
and AppFragment.fst.
WIll eventually be replaced by DataStream.

[2016-04-06 16:01] sishtiaq opened #39 "Complete and test top-level API in TLS.fst"
Top-level interface to sub-protocol. Owned by @nikswamy @fournet
Propagate the style from TLSOutline.fst.

[2016-04-06 16:03] markulf commented on #12
Nonce uses an ideal flag, tie that into SafeId? https://github.com/mitls/mitls-fstar/issues/16

[2016-04-06 16:03] sishtiaq opened #40 "Connection.fst"
Top-level interface to sub-protocol. Owned by @nikswamy @fournet
Mostly done.
Needs to be adjusted to match TLSOutlihe.fsti.

[2016-04-06 16:05] sishtiaq opened #41 "Record.fst"
Top-level interface to sub-protocol. Owned by @ad-l .
Manages the outermost headers in the record
Needs more precise specs
Also a better name for the 1.3 header

[2016-04-06 16:06] sishtiaq opened #42 "Alert.fst"
Top-level interface to sub-protocol. Owned by @ad-l .

[2016-04-06 16:08] sishtiaq opened #43 "Stateful implementations of key schedule"
KeySchedule.fst
HSCrypto.fst
- Current situation is that Handshake directly calls into HSCrypto to produce all crypto materials
- KeySchedule maintains the key schedule state machine and returns key materials when provided with relevant context from Handshake (currently a stub)
- Markulf and Antoine will work towards implementing as much as KeySchedule as possible and replace all calls to HSCrypto

[2016-04-06 16:11] sishtiaq opened #44 "StreamAE.fst"
Add monotonic references.

[2016-04-06 16:13] sishtiaq opened #45 "AEAD_GCM.fst"
Add monotonic references.

[2016-04-06 16:13] sishtiaq opened #46 "MAC.fst"

[2016-04-06 16:14] sishtiaq opened #47 "Encode.fst"
Owned by @fournet, very specific to 1.2 CBC
Not very important, since we will not initially be relying on CBC. But, we need it eventually for completeness
Lots of code there, with careful invariants
But also lots of assumes
TODO: refresh for 1.3 and remove the assumes

[2016-04-06 16:16] sishtiaq opened #48 "StatefulLHAE.fst"
Owned by Cédric/Nik
Provides injective correspondence on top of LHAE
TODO: add monotonic refs

[2016-04-06 16:16] sishtiaq opened #49 "Multiplexing among record ciphersuites"
- [ ] restore LHAE.fst file, it's currently not included in the
- [ ] rewrite StatefulLHAE to multiplex among the ciphers
- [x] Adapt 1.2 AE to monotonic style of 1.3
- [x] Multiplex between 1.2 and 1.3 in StAE
- [x] Test StAE with 1.2 and 1.3 record ciphers

[2016-04-06 16:18] sishtiaq opened #50 "ENC.fst"

[2016-04-06 16:20] s-zanella commented on #44
I believe this is done, both for the log and the counter.

[2016-04-06 16:20] #44 closed

[2016-04-06 16:26] s-zanella commented on #36
?
TLSExtensions is part of our regression tests, and is used by HandshakeMessages.

[2016-04-06 16:31] sishtiaq commented on #36
That's what's written in the OneNote! Close if it's invalid.

[2016-04-06 16:36] sishtiaq commented on #18
@markulf : do you want to change the title of this (to KeySchedule.fst), or is it ok as is?

[2016-04-06 21:10] msprotz commented on #30
https://github.com/FStarLang/FStar/issues/483

[2016-04-06 21:11] msprotz opened #51 "output .ml in a separate directory"
too much pollution in src/tls with ml cmo cmi cmx etc.

[2016-04-07 20:03] sishtiaq commented on #22
File a perf issue for "make tls-ver"? Assign me to it, I fancy some perf debugging.

[2016-04-08 13:48] s-zanella opened #52 "Fix content of CCS fragments"
It's a single byte fragment (0x01), not empty: https://tools.ietf.org/html/rfc5246#section-7.1

[2016-04-08 14:13] s-zanella commented on #22
Unfortunately it doesn't seem to be a performance issue, but an issue with Z3 getting lost when proving something in a large context. @nikswamy suggested using the Z3 Visualizer to debug this.

[2016-04-08 14:36] s-zanella commented on #52
Closed by b011904ffcad61aaf7c30014f538395865169fa5

[2016-04-08 14:36] #52 closed

[2016-04-11 07:34] sishtiaq opened #53 "Implement Schannel client+server for interop testing"

[2016-04-11 07:39] sishtiaq opened #54 "Specify how cURL will call miTLS"
Short document needed to specify work.
Might be two ways (short-term and long-term) to do the work.

[2016-04-11 07:40] sishtiaq opened #55 "Investigate cURL APIs"
In order to get cURL to call miTLS instead of, say, OpenSSL.
Might involve OCaml--C and C--OCaml wrapping.

[2016-04-12 09:59] markulf commented on #12
A design I discussed with Santiago is to have one `ideal` flag for every module, or even different aspects of modules that are idealized.

For verification we assume all these flags as
`assume val ideal_Nonce : bool`
`assume val ideal_Sig : bool`
`assume val ideal_PRF bool`
in a file called `Ideal.fst`

For compilation we set all these flags to false in a file called `Concrete.fst`.
For verificati

[2016-04-12 13:48] markulf commented on #12
We did not verify any ideal code. Consequently, some of the old code did not type check.

In particular, honesty predicates of the form
```let honest (pk:pk): bool = failwith "only used in ideal implementation, unverified"```
had the wrong effect. Currently set to `let honest (pk:pk): bool = false`, but preferably we would have a *stateful* implementation when idealizing?

[2016-04-12 14:41] markulf commented on #12
These files also still had `#verify` flags. As I understand it these flags primarily documented the state of F7 verification and are obsolete.

I removed `#ideal` from PMS.fst, and simplified `Sig.fst` and `PRF.fst`. To completely remove `#ideal` we need proper stateful implementations of the idealization logs.

[2016-04-13 19:55] s-zanella commented on #15
Took over this one.
Removed all admits and proved several inversion lemmas. I believe that by now most or all things that are TLS-independent have been moved to CoreCrypto.

I'm not closing the issue because I had to make some `let recs` top-level; otherwise we hit the "Stack overflow" bug during extraction. We should revisit this when there is better support for `let recs` in F*.

[2016-04-18 18:22] nikswamy commented on #15
Thanks for taking this over, Santiago.

Is it easy to construct a repro for the stack overflow? We had a similar problem earlier which I fixed, but I guess my fix is incomplete.

[2016-04-19 13:51] markulf opened #56 "Prune 3rdparty"
We should remove unused binaries and licences from the 3rdparty directory. It would be nice to prune them from the history too, to make .git lighter.

Binaries that we do use should be moved to a submodule repo, like we did with OpenSSL libraries in https://github.com/FStarLang/3rdparty.

[2016-04-19 13:53] markulf opened #57 "Write F# implementation of CoreCrypto using .NET libraries #14"
The goal is to get at least everything needed to support ECDHE-RSA-AES256-GCM-SHA256.

[2016-04-19 13:55] markulf opened #58 "Handling overflows in sequence number and AEAD_GCM counter"
All bets are off when the sequence number overflows and an IV is used twice for encrypting in GCM, so we should reflect this by not idealizing AEAD_GCM after so many encryptions. Currently AEAD_GCM checks for overflows and silently wraps back to 0, while StatefulLHAE (that calls AEAD_GCM) ignores overflows.

This issue is a place to discuss what we should do and document our choices.

This is also

[2016-04-19 14:19] sishtiaq opened #59 "flextls -lax flag"
Add a -lax flag so that mitls isn't too strict.
It is just restoring the fact that we don't want miTLS to complain about small groups as we discussed.
 I found were it was, I set up the tls13 flag, I am just not sure compilation for FlexTLS is taking this flag into account.
It is just restoring the fact that we don't want miTLS to complain about small groups as we discussed.
 I found were it was,

[2016-04-19 14:28] sishtiaq opened #60 "Improve handling of MITM vs Client/Server scenarios by the CLI"
When the scenario is a MITM, make sure the user knows he should pass both accept and connect...

[2016-04-19 14:59] msprotz commented on #9
@s-zanella has the expertise
@ad-l says it doesn't work and is broken

[2016-04-19 15:00] msprotz commented on #9
we need a repro case (but is it more than just running "make test" in that directory?)

[2016-04-19 15:01] msprotz commented on #8
@ad-l says bugs in the TCP server, need to write tests

[2016-04-19 15:02] msprotz commented on #10
@ad-l says we don't care about DSA and he added tests for RSA and ECDSA

[2016-04-19 15:03] msprotz commented on #12
discussed in the meeting -- Nik showed how to deal with it in a sample file, ongoing

[2016-04-19 15:03] msprotz commented on #12
@fournet: "how does it affect verification style"

[2016-04-19 15:11] markulf commented on #20
not part of mitls-ver target

[2016-04-22 09:16] sishtiaq commented on #27
@beurdouche's comment re running flex scenarios:
The basic principle here is to create fresh machines running TLS servers or clients (multiple versions) and one (or more) other machine(s) that runs SmackTLS against all those.
All machines are fresh and build following fixed rules and are completely independent from the local environment.

[2016-05-18 09:47] s-zanella commented on #24
We now have functions for validating chains and ECDSA/DSA/RSA signatures in CoreCrypto, Cert, and Signature. We need better support for loading private keys and surface it all the way to the Signature/Cert modules.

We need more test vectors, using chains found in the wild. Currently we only have one for each type of key and use self-signed certificates.
Maybe use Frankencerts at some point?

[2016-05-18 09:55] s-zanella commented on #56
We don't rely anymore on 3rdparty.
We should clean up the VS projects, Makefiles and scripts that reference 3rdparty and remove it altogether.

[2016-05-18 09:57] s-zanella commented on #51
Done a42df251

[2016-05-18 09:57] #51 closed

[2016-05-18 09:59] s-zanella commented on #20
Now part of tls-ver and linked to CoreCrypto.
Sig disappeared, use Signature now.

[2016-05-18 13:08] sishtiaq opened #61 "Speed up CoreCrypto tests"
Start by changing 2048 to 1024 in “rsa_gen_key 2048” “dsa_gen_key 2048” in Tests.ml.
Fix "make test" failure.
@s-zanella

[2016-05-18 13:10] sishtiaq opened #62 "Add support for curve x25519"
Add support for curve x25519 in miTLS.
Will need to modify openssl_stub.c, CoreCrypto.ml, CoreCrypto.fst/fsti, ECGroup.
@s-zanella

[2016-05-19 09:05] sishtiaq commented on #28
Depends on #39 being done.

[2016-05-19 22:03] msprotz commented on #5
Yeah this should definitely go into INSTALL.md; I'll do it

[2016-05-19 22:03] msprotz commented on #5
And this is the right solution, too

[2016-05-20 10:44] ad-l commented on #56
The deed is done. Good luck with your local index pains.

[2016-05-20 10:44] #56 closed

[2016-05-20 10:45] ad-l commented on #34
We have record tests and test client/server now. Closing

[2016-05-20 10:45] #34 closed

[2016-05-20 10:46] ad-l commented on #27
I think we do have decent CI coverage now. If you want to bring up a particular issue (e.g. tls-ver vs tls-gen) please create a specific bug report

[2016-05-20 10:46] #27 closed

[2016-05-20 10:46] #2 closed

[2016-05-20 10:46] ad-l commented on #61
Looks like this was done, thanks.

[2016-05-20 10:47] ad-l commented on #58
AFAICT the issue is addressed now

[2016-05-20 10:47] #58 closed

[2016-05-20 10:49] #30 closed

[2016-05-20 10:49] #32 closed

[2016-05-20 10:49] ad-l commented on #29
Schannel, openssl, NSS are all tested. What we need now is scripts for automated testing

[2016-05-20 10:49] #29 closed

[2016-05-20 10:50] sishtiaq commented on #61
It's still 2048!

[2016-05-20 10:51] ad-l commented on #24
We do have Cert.validate that wraps openssl verify cert. Further progress depends on miPKI which will have its own thing

[2016-05-20 10:51] #24 closed

[2016-05-20 10:51] beurdouche commented on #29
@ad-l : this is in progress...

[2016-05-20 10:51] #42 closed

[2016-05-20 10:52] ad-l commented on #22
I think the proofs are more or less stabilized.
Please reopen if you have assertion failures in Range.

[2016-05-20 10:53] ad-l commented on #20
Shamelessly assigning Santiago. The feature is implemented but there is currently a functional bug in the verification function.

[2016-05-20 10:54] #19 closed

[2016-05-20 10:55] ad-l commented on #41
The real meat is not in StAE.fst

[2016-05-20 10:55] #41 closed

[2016-05-20 10:55] ad-l commented on #43
New stateful KS is implemented

[2016-05-20 10:55] #43 closed

[2016-05-20 10:55] sishtiaq commented on #29
then don't close the CI Issue!

[2016-05-20 10:56] ad-l commented on #16
Nonce and IdNonce are now implemented and verify

[2016-05-20 10:56] #16 closed

[2016-05-20 10:56] s-zanella commented on #20
I'm on it.

[2016-05-20 10:57] ad-l commented on #12
I think PRF was the last one, so this is complete right?

[2016-05-20 10:57] #12 closed

[2016-05-20 11:01] s-zanella commented on #61
@sishtiaq: I can do these changes quickly if you don't have time.

[2016-05-20 11:02] sishtiaq commented on #61
No, I'm on it.

[2016-05-20 11:39] s-zanella commented on #61
Also FStarLang/FStar@f97ee88aeae5074c127d329dd7dc42cbd9a0f076
Done.

[2016-05-20 14:32] markulf commented on #19
We might need an idealised MAC module for finished messages at some point. Maybe part of the KeySchedule. Lets keep this issue close and lets cross that bridge when we get there.

[2016-05-20 14:33] markulf commented on #42
There is not much to see here right? I am curious about how to include Alerts in the crypto modelling.

[2016-05-20 14:38] markulf commented on #24
Certificate validation also is related to handshake configurations which play an important role in the crypto modelling, e.g. for downgrade.
Ultimately certificate validation determine which public keys a party accepts and whether their configuration gives them static security, i.e. security no matter what they do, rather than dynamic security, i.e. security if they happen to negotiate a good long

[2016-05-20 14:40] markulf commented on #36
Maybe reopen a more specific issue with regards to refactoring TLSExtensions later. Extensions are intimately related to negotiation and downgrade.

[2016-05-20 14:47] jkzinzindohoue commented on #36
AFAIK TLSExtension is not verified so far.
I will look a bit into parsing/serializing in the coming days to verify parts of it. Please let me know if you plan on doing refactoring there.

[2016-05-20 14:49] markulf commented on #34
Seems too good to be true. Maybe reopen issues for some of the sub-goals a)-d).

[2016-05-20 14:55] s-zanella commented on #15
To reproduce this in `TLSConstants.fst`, move the top-level `configurationExtensionsBytes_aux` back inside `configurationExtensionsBytes`, then run `make tls-gen` to get a stack overflow.

For reference, this is the problematic piece of code
[code]

[2016-05-21 03:24] nikswamy commented on #15
thanks for the report, For the record, manage to minimize this to:

[code]

Repro by:

[code]

[2016-05-21 23:24] nikswamy commented on #15
In case you're curious, here's a description of the bug fix:

When normalizing `match e with pi -> ei`, in case the reduction is stuck (e.g., because it's an open term), then we still can normalize each branch `ei`, but since the context for `ei` may not be consistent, we have to be careful to not reduce any fixed points within `ei`, since it may diverge. I was already attempting to forbid fixed p

[2016-05-23 10:56] s-zanella commented on #20
This was not a bug in the signature verification function, it was a bug in an extension negotiation function in TLSExtensions.

I tracked down the problem with signature validation in TestClient to the signature_algorithms extension in the ClientHello not being passed on to `n.n_extensions.ne_signature_algorithms`.
Signature validation works after fixing `negotiateClientExtensions` to copy the ext

[2016-05-23 10:56] #20 closed

[2016-05-23 11:02] #37 closed

[2016-05-23 11:30] s-zanella commented on #31
Here's a list of unused files:

- [ ] `AppData.fst` Deprecated?
- [ ] `AppFragment.fst` Deprecated?
- [ ] `HSFragment.fst` Deprecated?
- [ ] `KEF.fst`
- [ ] `LHAE.fst` Will be updated and used eventually
- [ ] `RSA.fst`
- [ ] `TLSOutline.fst` Working notes, should be deleted once TLS.fst is stable
- [ ] `SessionDB.fsti` Will be updated, implemented and used eventually
- [ ] `experiments/hash.fst`,

[2016-05-23 11:31] s-zanella commented on #25
Requires updating and implementing `SessionDB.fsti`

[2016-05-23 12:25] s-zanella commented on #5
Assigning @beurdouche. Can you update INSTALL.md with your solution?

[2016-05-23 12:32] s-zanella commented on #15
There is a still one top-level `let rec` that could be removed, but an open issue in F* prevents us from doing so.

Reopening so we remember to revisit it once we have a fix for https://github.com/FStarLang/FStar/issues/533

[2016-05-23 14:08] msprotz commented on #5
I did it.

[2016-05-23 14:08] #5 closed

[2016-06-02 05:55] s-zanella commented on #15
Used Nik's workaround for #533.

[2016-06-02 05:55] #15 closed

[2016-06-02 17:57] s-zanella opened #63 "Properly test DSA certificates and signatures"
Please double check that we're using properly formatted certificates in tests.

I borrowed the Makefile from mitls-flex to generate certificates and extended it to also generate ECDSA certificates. I checked in the generated certificates because they require a lot of entropy and generating them on the fly would slow down CI.

[2016-06-02 18:17] s-zanella opened #64 "Interoperability between OpenSSL and test client/server"
We should have a target for testing the health of our test client and server, and their interoperability with OpenSSL. We need to cover at least these scenarios, initially with one ciphersuite (i.e. ECDHE-RSA-AES128-GCM-SHA256), then with others as we start supporting them.

- [ ] miTLS client vs. OpenSSL server @ TLS 1.2
- [ ] OpenSSL client vs. miTLS server @ TLS 1.2
- [ ] miTLS client vs. miTLS

[2016-06-02 19:01] s-zanella opened #65 "Use --dep to have improve all-ver and tls-gen targets"
Now that we have `--dep make` to dump dependencies, we could have a Makefile that only reverifies/regenerates dependencies when the source files change.

This becomes more and more useful as we start working higher in the module hierarchy.

[2016-06-03 10:34] sishtiaq opened #66 "Idealization coverage"
Make sure that tests go into both "ideal" branches,

[2016-06-03 12:37] sishtiaq opened #67 "usable verification testing"
There are modules which have small (positive only, right now) tests at the end of the file itself.
Move these tests out of X.fst into TestX.fst, run them under non-  -lax mode, run them under assumes instead. Set up a good harness for running them.

[2016-06-03 12:44] s-zanella commented on #67
Please put these test files in the `src/tls/test` folder.

[2016-06-03 19:56] s-zanella commented on #22
Reopening since there is still one `admit()`. The proof goes through without it.

[2016-06-06 17:00] markulf commented on #66
you mean into both ideal and concrete/non-ideal branches? I agree, this is important.

One could even have tests that ideal and concrete cannot be trivially distinguished via simple strategies. E.g. keys that are the same concretely should also be the same ideally.

[2016-06-07 09:15] sishtiaq commented on #10
I can help!

[2016-06-07 10:10] s-zanella commented on #10
This should be lower priority now that we have good coverage of most functions in CoreCrypto.fst.
However, it'd be good to have more tests anticipating the moment when we start supporting a backend other than OpenSSL.

[2016-06-07 10:58] sishtiaq commented on #66
Yes, that's what I meant.

[2016-06-07 10:59] markulf commented on #66
Let me know once you get started and whenever you need domain knowledge for this.

[2016-06-07 12:31] sishtiaq opened #68 "Use frankencert to test certificate flow."
https://github.com/sumanj/frankencert

[2016-06-07 13:53] sishtiaq commented on #61
@s-Zanella Can you review https://github.com/FStarLang/FStar/compare/iss61?expand=1 please?

[2016-06-07 14:01] s-zanella commented on #61
Can you generalize on key lengths? I mean, we might want to be able to substitute 512 for 1024.
I didn't check how much time Travis spends generating keys and if it's worth it, but an alternative would be to just read keys off files and don't generate keys at all.

[2016-06-07 14:04] s-zanella commented on #61
There is also another hardcoded key length parameter in `TestDhke` that can be abstracted.

[2016-06-07 14:15] sishtiaq commented on #61
1.Generalizing on key lengths: Do we just want a choice between certain lengths? 512, 1024 or 2048, say? Or something more general? (I'd be tempted to go with this, to deal with the normal vs. CI cases.)
2. What's the parameter in TestDhke? The 512 one given to dh_gen_params?

[2016-06-07 14:30] s-zanella commented on #61
1. I'd go for generality since it's free, isn't it? But the script only needs to switch between two lengths (CI vs. other).
2. Yes, the `512`.

There is another opportunity for speeding things up in `TestEcdhke` by using a faster curve, but I think we're really stretching it at this point.

[2016-06-08 18:13] #61 closed

[2016-06-09 10:11] sishtiaq opened #69 "remove nubuild"
@nikswamy @protz: If we want to do this, I can do it.

sishtiaq@SaminDesktop /cygdrive/e/mitls-fstar
$ find . -name "Makefile"| xargs grep -Hsni nubuild
./.fstar/examples/low-star/Makefile:3:include $(FSTAR_HOME)/src/gmake/nubuild.mk
./.fstar/examples/relational/Makefile:8:include $(FSTAR_HOME)/src/gmake/nubuild.mk
./.fstar/lib/Makefile:3:include $(FSTAR_HOME)/src/gmake/nubuild.mk
./.fstar/ulib/Ma

[2016-06-09 14:07] msprotz commented on #69
Ok I'll wait to see what the final conclusion is -- had a chat about it yesterday with Bryan. We still need to investigate to understand why it's taking to so long.

Seems like we're getting a fraction of the parallelism we ought to get.

[2016-06-17 10:32] aseemr opened #70 "Issues in porting the hasEq change to mitls-fstar"
Issues in porting mitls to hasEq  (https://github.com/FStarLang/FStar/issues/510). Can be reproduced in has_eq_impl branch of mitls-fstar, with has_eq_impl branch of F*. Files not listed below verify.

Details of `hasEq` design and implementation are here: https://github.com/FStarLang/FStar/wiki/Deriving-hasEq-predicate-for-inductive-types,-and-types-of-equalities-in-F*.

- [ ] Not really a regres

[2016-06-17 13:49] s-zanella commented on #70
Some of the subtyping errors come from the failure to typecheck code like this:
[code]
Presumably this should type check?

[2016-06-17 14:42] nikswamy commented on #70
thanks for the minimal example. Aseem and I have been discussing this ... it's on my plate to figure out why code like this fails to verify in this branch.

[2016-06-17 17:39] aseemr commented on #70
Thanks for looking into the failures @s-zanella. But this example verifies for me in the has_eq_impl branch. You are right though many subtyping failures looked to be this kind.

[2016-06-17 17:45] s-zanella commented on #70
I tried again and it doesn't verify for me:
[code]
[code]

[2016-06-17 17:48] aseemr commented on #70
This is strange:

aseemr@ASRAST-LT1 ~/FStar
$ git branch
* has_eq_impl
  master

aseemr@ASRAST-LT1 ~/FStar
$ git status
On branch has_eq_impl
Your branch is up-to-date with 'origin/has_eq_impl'.
Untracked files:
  (use "git add <file>..." to include in what will be committed)

        univt.fst

nothing added to commit but untracked files present (use "git add" to track)

aseemr@ASRAST-LT1 ~/FStar

[2016-06-20 05:50] aseemr commented on #70
@nikswamy, did this commit https://github.com/mitls/mitls-fstar/commit/aafacbb7d72de83748b99d7f5a287b0d72838484 fix Range.fst and Alert.fst ?

[2016-06-20 09:00] s-zanella commented on #70
@aseemr: I don't think so. It couldn't because it hasn't been merged into the has_eq_impl branch.
I marked those as fixed because they were passing for me after updating the OCaml snapshot. So, it's either that or some commit in has_eq_impl that fixed those. Aren't they typechecking for you now?

[2016-06-20 09:24] aseemr commented on #70
@s-zanella, they (and a couple more) verify on my desktop too.

[2016-06-21 11:07] vkanne-msft opened #71 "TLS 1.3 Handshake protocol"

[2016-06-21 12:30] vkanne-msft opened #72 "Complete Handshake API implementation for TLS1.3"
Handshake.fst has fake implementations that we would like to complete.

[2016-06-21 12:31] vkanne-msft opened #73 "Complete and verify the TLS public API"

[2016-06-21 12:32] vkanne-msft opened #74 "TLS 1.3 can run with a single cipher suite"
ECDHE_AES_GCM

[2016-06-21 12:34] vkanne-msft opened #75 "Re-indexing sessions and connections"

[2016-06-21 13:11] #48 closed

[2016-06-21 13:17] vkanne-msft opened #76 "Implement sample server and client apps in mitls.exe tool to test top-level API"

[2016-06-21 13:18] #10 closed

[2016-06-21 13:25] vkanne-msft opened #77 "Complete Handshake verification"

[2016-06-21 13:26] vkanne-msft opened #78 "Implement Epoch module"
it is required to connect the Handshake to TLS

[2016-06-21 13:27] #1 closed

[2016-06-21 13:30] vkanne-msft opened #79 "Restore the code for DHDBManager"

[2016-06-21 13:32] s-zanella commented on #79
Depends on #9.

[2016-06-21 13:33] vkanne-msft commented on #14
#49 is replacing this work item

[2016-06-21 13:33] #14 closed

[2016-06-21 13:35] vkanne-msft commented on #21
Reindexing work replaces this work item

[2016-06-21 13:35] #21 closed

[2016-06-21 13:43] vkanne-msft commented on #40
#39 is duplicate of this.

[2016-06-21 13:43] #40 closed

[2016-06-21 13:44] vkanne-msft commented on #45
#49 covers this work item

[2016-06-21 13:44] #45 closed

[2016-06-21 13:44] vkanne-msft commented on #46
#49 covers this work item

[2016-06-21 13:44] #46 closed

[2016-06-21 13:45] vkanne-msft commented on #53
For milestone 1 it will be good to be able to talk to an SChannel server

[2016-06-21 13:46] vkanne-msft commented on #50
#49 covers this work item

[2016-06-21 13:46] #50 closed

[2016-06-21 13:46] vkanne-msft commented on #47
Related to #49

[2016-06-21 13:50] vkanne-msft opened #80 "Crypto code review"

[2016-06-21 13:53] s-zanella commented on #49
Top priority is to make StAE support AES-GCM for TLS 1.2 and 1.3

[2016-06-21 17:49] s-zanella opened #81 "Specify, verify, and test HKDF functions"
- [x] Specify HKDF-Extract and HKDF-Expand as per [RFC5869](https://tools.ietf.org/html/rfc5869) -- fix `hkdf_expand_int`
- [x] Fully type check the implementation and add the module to VERIFY in the Makefile
- [x] Test using the test vectors from the RFC
- [x] Move the functions to a separate file for an HKDF module (see #18)

We will eventually switch to the low-fstar implementations.

[2016-06-21 18:19] s-zanella opened #82 "Write a verified parser and pretty-printer generator for the "Presentation Language" of TLS RFCs"
As suggested by @adl.

This would greatly simplify writing and verifying parsing and serializing functions in TLSConstants, HandshakeMessage, etc.

[2016-06-22 00:25] s-zanella commented on #81
Closed via 003d4b9.
`hkdf_expand_label` is untested, but it's a simple wrapper for `hkdf_expand`.

[2016-06-28 09:22] #81 closed

[2016-06-28 13:10] ad-l commented on #75
In progress: new indexes are defined in TLSInfo and used in KeySchedule; StreamAE propagation pending (see #49)

[2016-06-28 13:12] ad-l commented on #78
In progress (stub added in d436891)

[2016-06-28 13:15] ad-l commented on #81
KeySchedule now uses HKDF.hkdf_expand_label
HSCrypto is completely gone

[2016-06-28 13:42] s-zanella commented on #81
I'm confused. That was already the case in 003d4b9505f1cf83d5e4c27a0165bc13ffea3198.

[2016-06-28 14:07] s-zanella opened #83 "Add support for ChaCha20 + Poly1305 AEAD"
See https://tools.ietf.org/html/rfc7539#section-2.8 for the specification of the AEAD construction.

[2016-06-29 10:46] s-zanella commented on #49
StAE now multiplexes between TLS 1.2 (StatefulLHAE) and 1.3 (StreamAE).
I also updated StatefulLHAE and AEAD_GCM to use monotonic counters and logs.

The changes 87e0d891c0092b30917ce9d9d4b636b578959b43 ... 22ccc1578e86448fca2875572f4d90a96aa980a4 fully verify (i.e. tls-ver passes up to StAE) against 96893891d2b8a0a7c9949833ffa1f020c06f0bf2.

I tried running the test client and server apps and the

[2016-06-29 14:21] nikswamy commented on #49
This is awesome! Esp. the upgrade to monotonic counters and logs

.

[2016-06-29 15:21] s-zanella commented on #49
The MonotoneSeq library makes it a lot easier!

[2016-06-29 18:39] BarryBo commented on #55
Work is in progress - see the "ffi" branch in mitls.

[2016-06-30 09:39] fournet commented on #83
Looking at this integration, now that we have F* implementations for both algorithms. It may also be interesting to manually interleave the 2 algorithms to scan the data only once. Anyone working on it?

[2016-06-30 10:10] fournet commented on #83
See also https://tools.ietf.org/html/draft-ietf-tls-chacha20-poly1305-04

[2016-06-30 10:19] ad-l commented on #83
ChaCha20/poly1305 is happening on the Inria side. Karthik tols us in the miTLS call that they have an almost complete F* CoreCrypto provider (only sig and x509 missing). I'm happy to add the ChaCha20 ciphersuites to TLSConstants but there is also some work to do in the record modules in order to integrate.

[2016-06-30 10:24] fournet commented on #83
Yes; I am discussing it with JK. Adding and verifying the code for AEAD from encrypt-then-MAC would yield a nice, standard example for mitls crypto; there are also interesting low-level performance issues.

Do we have an implementation of AEAD based on them yet?

[2016-06-30 10:54] prosecco commented on #83
The plan, with JK and others over here, is to have a pure F* version of CoreCrypto that includes: EC (P-256, X25519), AEAD (AES-GCM,  Chacha20-Poly1305), and HASH (SHA-256, HMAC, HKDF)
These will be lax-typechecked in HST, will extract to OCaml and then (hopefully) to C
Ben is currently working on implementing one AEAD mode based on Chacha20-Poly1305
Jianyang is implementing AES-GCM

[2016-07-06 08:48] ad-l commented on #78
Still missing some proofs but is fully implemented

[2016-07-06 08:48] #78 closed

[2016-07-06 08:49] ad-l commented on #13
Ever

[2016-07-06 08:49] #13 closed

[2016-07-07 10:34] ad-l commented on #75
Re-indexing is complete

[2016-07-07 10:34] #75 closed

[2016-07-07 10:36] ad-l commented on #6
The important bit for milestone 0 have been done; postponing the later points (stateful byte library and InfixBytes) to milestone 1.3

[2016-07-11 10:15] sishtiaq opened #88 "Port over mitls-flex/apps"

[2016-07-12 12:02] sishtiaq opened #89 "FStar extraction bug effects STAE implementation"
https://github.com/FStarLang/FStar/issues/573
#49 depends on this.

[2016-07-12 12:04] s-zanella commented on #89
I found a workaround, so this isn't really blocking anymore.

[2016-07-12 12:04] #89 closed

[2016-07-12 15:22] vkanne-msft commented on #71
Stale

[2016-07-12 15:22] #71 closed

[2016-07-12 15:25] s-zanella commented on #49
StAE now multiplexes among 1.2 and 1.3 ciphersuites and uses monotonic references.
The test clients and servers interoperate between themselves, and the 1.2 client and server interoperate with OpenSSL.

The remaining two bullets in this issue aren't part of Milestone #0 and do not really make much sense until we have another ciphersuite to multiplex among (e.g. MEE).

[2016-07-12 15:39] s-zanella commented on #64
In the meantime, this is what I'm doing to test interoperability:

- miTLS 1.2 server -- miTLS 1.2 client:
[code]
- miTLS 1.2 server -- OpenSSL 1.2 client
[code]

- OpenSSL 1.2 server -- miTLS 1.2 client
[code]
- miTLS 1.3 server -- miTLS 1.3 client
[code]

[2016-07-12 15:40] s-zanella commented on #63
This is properly tested now.

[2016-07-12 15:40] #63 closed

[2016-07-12 15:41] vkanne-msft opened #90 "Rewrite StatefulHAE to multiplex among the ciphers"
restore LHAE.fst file, it's currently not included in the build
 rewrite StatefulLHAE to multiplex among the ciphers

[2016-07-12 15:42] vkanne-msft commented on #49
Create issue #90 for the remaining two items. You can go ahead and close this one.

[2016-07-12 15:42] #49 closed

[2016-07-12 15:55] s-zanella commented on #36
TLSExtensions was part of the `all-ver` target and used to verify prior to the switch to new indices. The pieces of code that only lax typecheck are enclosed between `#set-options "--lax"` and `#reset-options`.

[2016-07-12 17:21] s-zanella commented on #76
The TLS 1.2 and 1.3 sample server and client applications are going to be part of the `mitls.exe` command-line tool.

@ad-l is working on adding a `-tlsapi` flag to the tool that will use the top-level TLS API instead of scripted sequences of messages like in `test/TestClient{13}.fst` and `test/TestServer{13}.fst`

[2016-07-12 17:25] s-zanella commented on #39
Testing interoperability between client and server (and OpenSSL) through the `mitls.exe` command-line tool via #76 is a pre-requisite. We should then test the following at a minimum

- [ ] Test that we can send and handle `close_notify` correctly
- [ ] Test fragmentation by transferring a large file

[2016-07-12 17:35] s-zanella commented on #72
This should be complete, but there is an unidentified issue with the implementation.

@ad-l and @prosecco mentioned the state machine not transitioning and getting stuck after processing some messages. They will look into this.

[2016-07-12 17:42] s-zanella commented on #35
`Handshake.fsti` is gone. We moved declarations to `Handshake.fst` to be able to work on the file interactively (due to interactive work not working with split files).

I still see a few assumed functions in `Handshake.fst` and one FIXME in `preparseServerHello`, but the bulk of the work should be almost done. @prosecco or #ad-l should be able to better assess how much is left.

[2016-07-12 17:48] vkanne-msft commented on #72
Can we log the bug ( you did mention it is unidentified but hoping we can still describe it ) and close this one ?

From: Santiago Zanella-Beguelin [mailto:notifications@github.com]
Sent: Tuesday, July 12, 2016 10:35 AM
To: mitls/mitls-fstar <mitls-fstar@noreply.github.com>
Cc: Sreekanth Kannepalli <vkanne@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [mitls/mitls-fstar] Complete

[2016-07-12 17:52] s-zanella commented on #72
@ad-l just mentioned he managed to get up to ServerFinished using the top-level API.
@ad-l, can you comment?

[2016-07-12 18:19] vkanne-msft opened #91 "Logging for host diagnostics"
Does miTLS owe the caller detailed error descriptions or logging ? Today it is implemented a byte array. Is this the right (consistent to other TLS implementations) approach ?

We will need
- [ ] Design review for Logging
- [ ] Code review to analyze existing logs

[2016-07-12 18:19] BarryBo opened #92 "EXT vs ML effect mismatch in Platform.Tcp.recv"
See .fstar/ucontrib/Platform/fst/Platform.Tcp.fst: "assume val recv: networkStream -> max:nat -> EXT (optResult string (b:bytes {length b <= max}))"

The underlying ML implementation does not actually meet the EXT effect requirements, as it does a string substring operation, and that may throw an exception.  By code inspection, the substring operation cannot be passed incorrect arguments in this c

[2016-07-12 18:20] vkanne-msft opened #93 "Logging for Debugging"
The current miTLS contains quite a bit of printf()-based logging.  That will affect performance, and makes hosting miTLS in external apps challenging, as those apps expect stdout/stderr to be theirs, not polluted with some subcomponent’s output.

We will need to review the existing log statements and differentiate between debug and production builds.

[2016-07-14 17:13] ad-l commented on #72
I fixed the remaining bugs today; the implementation should be complete for 1-RTT

[2016-07-14 17:13] #72 closed

[2016-07-14 17:13] ad-l commented on #76
Client is complete, server in progress

[2016-07-14 18:55] s-zanella commented on #35
It looks like this task is complete for TLS 1.3.
Is it also done for TLS 1.2? I can't see any way of getting a TLS 1.2 StAE instance from Handshake (or KeySchedule).

[2016-07-15 13:55] ad-l commented on #35
I'm pushing the StAE changes for 1.2 now

[2016-07-15 13:55] #35 closed

[2016-07-15 13:56] ad-l commented on #76
Server is complete

[2016-07-15 13:57] ad-l commented on #39
The top level API is now tested; see test/TestAPI.fst (invoked through mitls.exe -tlsapi)

[2016-07-15 14:09] s-zanella commented on #83
What's the status of the AEAD mode based on Chacha20-Poly1305?
Would that be in the form of a miTLS module at the same level as AEAD_GCM?

Cédric mentioned it would be nice to work on implementing a generic AEAD module for EtM, with Chacha20-Poly1305 as an instance. We could work on that in Cambridge if Ben or JK are visiting, or coordinate via Skype if not. We would need to decide how to call int

[2016-07-15 14:14] s-zanella commented on #76
Reopening. Please close this once we have client and server apps for TLS 1.2 working through mitls.exe.

[2016-07-15 14:15] s-zanella commented on #39
Reopening to track the progress of tests for 1.2 and the two bullets above.
Currently TestAPI tests only the API for 1.3.

[2016-07-15 14:19] fournet commented on #83
Benjamin: do you have some code for it already?
I am prototyping AEAD, to understand how to naturally call JK's primitives (and possibly suggest some refactoring). Will check in e.g. some resulting EtM.fst in miTLS-fstar.
We don't quite understand how to switch from one state monad to another, e.g. to integrate with miTLS.
It is also probably worth comparing with OpenSSL implementations, for perfo

[2016-07-15 14:21] jkzinzindohoue commented on #83
I think that this monad mismatch is interesting because HST is really a refinement of HH.
Benjamin had code for the AEAD mode on Chacha-Poly in the 'simple' ST monad at https://github.com/mitls/hacl-star/blob/master/crypto/symmetric/AEAD.ChaCha20_Poly1305.fst. I will write it for HST this afternoon and post a pointer to it here.

[2016-07-15 14:35] beurdouche commented on #83
Ok, @jkzinzindohoue if you do port it to HST before monday, don't forget the check on tags in the decryption function... ;)

[2016-07-15 14:41] fournet commented on #83
Would be curious to discuss the coding, e.g. to avoid copying.

[2016-07-15 22:33] vkanne-msft opened #94 "Verified Crypto algorithms and Everest integration"
We have different implementation of crypto algorithms. We have to implement a right design to integrate multiple implementations.

o	RSA (Dafny/Spartan)
o	AES GCM *
o	SHA *
o	ECC (Kremlin)

[2016-07-15 22:33] vkanne-msft opened #95 "TLS 1.2 feature - Renegotiation"

[2016-07-15 22:33] vkanne-msft opened #96 "TLS 1.2 - Resumption"

[2016-07-15 22:36] vkanne-msft opened #97 "TLS 1.3 Feature work"
0-RTT
PSK
Late HS

[2016-07-15 22:37] vkanne-msft opened #98 "Verified TLS code"

[2016-07-18 09:19] fournet commented on #83
I had a look at the description of poly1305, http://cr.yp.to/mac/poly1305-20050329.pdf. The securoty proof seems largely f*-able.

[2016-07-18 17:14] jkzinzindohoue commented on #83
I have written an first draft of the AEAD mode in https://github.com/FStarLang/FStar/blob/master/examples/low-level/AEAD.Chacha20_Poly1305.fst.
The issue is that there are quite a few unnecessary copies due to some conversions between `buffer 'a` and `buffer 'b`.
I am make an attempt to write everything on top of `bytes` that could be interpreted as bytes as well as arrays of any type, to write so

[2016-07-21 16:37] vkanne-msft opened #100 "Install new dedicated build server"

[2016-07-21 16:37] vkanne-msft opened #101 "Reconfigure make to use multiple cores"

[2016-07-21 16:37] vkanne-msft opened #102 "Investigate other build tools"

[2016-07-21 16:37] vkanne-msft opened #103 "Investigate use of --hints to reduce verification time"

[2016-07-21 16:37] vkanne-msft opened #104 "Improve build system"
Enhance build system with the following properties
1. Trustworthy
2. Performant
3. Adaptable
4. Cross Platform
5. Low maintenance

[2016-07-21 16:39] vkanne-msft opened #105 "Integrate CI to use new dedicated build server"

[2016-07-26 04:54] vkanne-msft opened #106 "RSA implementation in Dafny/Spartan"

[2016-07-26 04:54] vkanne-msft opened #107 "Implementation of AES GCM in Dafny/Spartan"
This is about extracting AES GCM, written in Spartan, through Dafny+Kremlin, as a C file.

The extended goal is to expose OCaml bindings for these, possibly through ocaml-ctypes, so that we can rig CoreCrypto to use this implementation. (Ideally, configurable at run-time for benchmarks.)

[2016-07-26 04:55] vkanne-msft opened #108 "Implementation of SHA in Dafny/Spartan"
This task is used to track progress of implementation of SHA in Dafny/Spartan

[2016-07-26 04:55] vkanne-msft opened #109 "AES GCM in F*"
Implementation of AES GCM in F*

[2016-07-26 04:55] vkanne-msft opened #110 "SHA in F*"

[2016-07-26 04:55] vkanne-msft opened #111 "ECC in F*"

[2016-07-26 05:39] vkanne-msft opened #112 "C extraction from Dafny for SHA, AES and RSA"
Work required to extract two crypto algorithms written in Dafny to C. #108 #107 #106

[2016-07-26 14:50] vkanne-msft opened #113 "Restoring regressions after ID propagations"

[2016-07-26 14:58] #113 closed

[2016-07-26 15:02] vkanne-msft opened #114 "Implement TLS Encrypt-then-mac"

[2016-07-28 10:28] aseemr commented on #70
Merged into main, closing.

[2016-07-28 10:28] #70 closed

[2016-07-29 23:09] nikswamy commented on #22
I'm starting to see instability in Range.fst again. Hints don't seem to be helping.

e.g., with hints

(.\Range.fst(180,80-199,8)) Query succeeded in 26593 milliseconds with fuel 0 and ifuel 0

still taking a long time to verify one query.

And worse, with hints, I'm seeing queries failing initially, and then succeeding after retrying, after taking a long time.

(.\Range.fst(255,67-264,86)) Query

[2016-08-02 19:24] nikswamy commented on #22
FYI, it seems that a change in F* may be responsible for this. At least I can report that using F* master@18a8cd4bd5ef965be6db861bfe1aa7963d758ce6 seems to provide good verification times and stability with hint enabled.

[2016-08-03 15:25] nikswamy commented on #22
Looks like merging dm4free with master sent Range.fst off the rails
This seems to be the first commit at which hint replay fails (no idea why, yet)
be187f14cac46e2aa5ae6acf334d661c9e77ea3f

[2016-08-05 17:21] vkanne-msft commented on #105
Using VSTS as new CI

[2016-08-05 17:21] #105 closed

[2016-08-05 17:22] #100 closed

[2016-08-05 17:22] #101 closed

[2016-08-05 17:22] #103 closed

[2016-08-05 17:22] vkanne-msft opened #119 "Add build versioning and archiving"

[2016-08-05 17:22] vkanne-msft opened #120 "Add test suites for builds"

[2016-08-09 15:27] vkanne-msft opened #121 "Regenerate hints during nightly builds"

[2016-08-16 06:16] vkanne-msft commented on #76
@s-zanella can we close this ?

[2016-08-16 06:16] vkanne-msft commented on #39
@s-zanella  i guess this can be close now right ?

[2016-08-16 06:16] vkanne-msft commented on #22
@nikswamy can this be closed now ?

[2016-08-16 10:37] s-zanella commented on #76
Yes. The client and server apps for TLS 1.2 have now been implemented and tested against OpenSSL

[2016-08-16 10:37] #76 closed

[2016-08-16 10:39] s-zanella commented on #39
The API-level tests for TLS 1.2 are done, but I'm not sure about the two bullets above.
I don't think we have tested fragmentation or large file transfers.

[2016-08-16 10:56] s-zanella commented on #9
Postponing this since it isn't essential for Milestone #1

[2016-08-16 10:57] s-zanella commented on #17
Requires #9.
Not essential for Milestone 1.

[2016-08-16 12:52] #22 closed

[2016-08-16 15:18] BarryBo commented on #112
Current status:
- blocked waiting on Kremlin work (user-defined types, change to EBufAlloc, while loops and return statements)
- SHA256 generates mostly plausible JSON input to Kremlin.  Once the blockers are implemented, we'll see C code-gen for the first time.
- I haven't started on AES or RSA.
- I'm working with Rustan to create a private branch of Dafny, for my changes to sit in until they are

[2016-08-16 15:19] BarryBo commented on #108
See issue 112 for full details.  SHA256 extraction to Kremlin is implemented in Dafny, but on hold until Kremlin adds required features.

[2016-08-16 15:22] BarryBo commented on #54
Done.  See [Design Note 3](https://microsoft-my.sharepoint.com/personal/nswamy_microsoft_com/_layouts/OneNote.aspx?id=%2Fpersonal%2Fnswamy_microsoft_com%2FDocuments%2FIMPS&wd=target%28docs.one%7C0DC2DD71-48CA-4415-9602-D27F935B3B90%2FDesign%20Note%203%20-%20Hosting%20miTLS%20in%20C%20applications%20%7CB9D52831-0028-463F-82EE-20D7DDBC68FE%2F%29
) in the IMPS OneNote

[2016-08-16 15:22] #54 closed

[2016-08-16 16:16] markulf commented on #80
A first step is to define a process for reviewing our code:

- [ ] test the verification, by writing adversarial code, malicious interactions should result in typing errors
- [ ] write down cryptographic assumptions on paper

[2016-08-16 16:21] markulf commented on #18
@ad-l is this issue closed with the implementation of the stateful key schedule?

Presumably we lost some modularity in the verification compared to the previous version of miTLS, do we try to restore it?

[2016-08-23 15:39] BarryBo opened #122 "Spartan: Create a build process for the crypto code"
There is a makefile that builds the Spartan.exe and runs tests against it now.  But the actual crypto code in the Libraries\ tree has no formal build process, and gets broken by code refactoring work.

This work item covers:
- creating a makefile to build the crypto libraries
- work with Sreekanth to add Spartan crypto to the set of builds that the CI machine runs
- possibly create a lit-based tes

[2016-08-27 08:15] markulf commented on #114
The following experiment might help find a good verification style: https://github.com/FStarLang/FStar/issues/643

[2016-08-27 09:53] markulf opened #123 "Setting up a Docker based Development environment"
This is likely just a question of updating
https://github.com/mitls/mitls-fstar/wiki/Setting-up-a-Docker-based-Development-environment
to include some Windows details.

We should also warn against mounting a repository that is already otherwise in use, as I suspect this would lead to trouble.

[2016-08-27 13:06] markulf commented on #18
I updated the issue, to track idealization and verification of the key schedule.

[2016-08-28 03:58] dckc opened #124 "constant time implementation in C?"
I gather you plan to extract C code from F*. Do you plan to follow constant-time programming discipline to avoid large classes of timing attacks?

p.s. Some references I'd like to keep handy:
- [NaCL Features](https://nacl.cr.yp.to/features.html) - No data-dependent branches ; No data-dependent array indices
- [Verifying Constant-Time Implementations](https://www.usenix.org/conference/usenixsecuri

[2016-08-28 10:54] beurdouche commented on #124
Yes, all F* security critical code has an as strong as possible adversarial threat model and will incrementally add security features including CT computations when necessary.

[2016-08-28 11:08] nikswamy commented on #124
Cf. https://www.computer.org/csdl/proceedings/csf/2016/2607/00/2607a296-abs.html

We aim to propagate the constant time guarantees proven there to the extracted C

[2016-08-28 12:36] jkzinzindohoue commented on #124
What we consider is indeed a programming discipline which ensures that the execution path is independent from the secret data. In particular this ensures that there will be no secret-dependent branches, or secret-dependent array indices.
This holds for the F* source code by typing, and hopefully for the extracted C code. We do not have any guarantees about what happens later in the compilation pro

[2016-08-28 23:32] dckc commented on #124
The paper from the CSF proceedings looks like just the thing. I don't have a subscription to IEEE though. Is there a pre-print somewhere, by chance?

[2016-09-09 04:22] vkanne-msft commented on #121
Working on the scripts for the same.

[2016-09-09 04:27] vkanne-msft commented on #123
@markulf most of the instructions work for windows. Is there something specific you are looking for, apart from mounting issues ?

[2016-09-09 09:21] markulf commented on #123
General testing and taking users by the hand. We should probably link back to the star docker wiki as well.

[2016-09-09 15:27] BarryBo commented on #112
Making progress. Blocked until Kremlin supports mutable UDTs.
Changes are now committed in a branch of the branch of Dafny used for Spartan.

[2016-09-09 15:27] BarryBo commented on #122
No progress.  Lower priority than Kremlin work.

[2016-09-09 15:29] BarryBo commented on #55
Curl is working, checked into mitls master.  Design Note 5 is a work-in-progress doc that describes what Cedric, Jonathan and I have put together, on a longer-term API design for miTLS.

[2016-09-09 15:29] #55 closed

[2016-09-09 15:29] BarryBo commented on #108
In progress.

[2016-09-09 18:04] sishtiaq commented on #7
@vkanne-msft: I'll review this. If there's anything urgent, I'll keep it in Milestone 1. Otherwise, I'll take it off.

[2016-09-09 18:05] sishtiaq commented on #79
@s-zanella: is this urgent for Milestone 1?
@vkanne-msft

[2016-09-09 18:06] sishtiaq commented on #8
@ad-l: do you know which utility functions?
@vkanne-msft

[2016-09-10 06:14] markulf commented on #18
@ad-l Can you comment on this? Added you as an assignee as you really did most of the work on integrating these files into the keyschedule.

[2016-09-10 06:23] markulf commented on #123
@added a link back to the F* docker wiki page. My impression is that the setup is not yet widely used and thus mostly untested.

[2016-09-10 06:27] markulf commented on #123
@protz should the docker related setup instructions be included here?
https://github.com/mitls/mitls-fstar/wiki/Development-environment

There also seems to be a trend towards bash-for-windows instead of cygwin.

[2016-09-10 06:30] markulf commented on #80
@vkanne-msft this is really more of a meta-issue or epic that should be split into separate tasks. For all code we write there should be some testing and review, especially for crypto code.

[2016-09-10 06:35] markulf commented on #66
Related to https://github.com/mitls/mitls-fstar/issues/80

[2016-09-10 06:36] markulf commented on #114
Related to crypto code review https://github.com/mitls/mitls-fstar/issues/80

[2016-09-10 06:38] markulf commented on #38
What is the status of this?

[2016-09-10 06:42] markulf opened #125 "Fix algorithm negotiation"
This is a big issue, lets put more details and sub tasks here:

- [ ] Treatment of extensions, extensions carry cryptographic values like key shares. How do we treat them in the `Negotiation.fst` module?
- [ ] To what extend is signature agility is related to certificates and the X509 PKI?

[2016-09-10 13:25] markulf commented on #80
As we are developing an idealization style some relevant issues are discussed on the F* side, see https://github.com/FStarLang/FStar/issues/674

[2016-09-12 08:32] msprotz commented on #123
Bash for Windows is a "hack"; you might as well be using Linux in that case, because the programs you generate and compile are completely "foreign"; they can't be launched from the explorer; they can't be used by "native" windows programs; etc.

Bash for Windows is a workaround for the lack of support of OCaml on Windows. I'm fine with documenting it and saying we've had relatively good success (w

[2016-09-12 08:33] msprotz commented on #123
I'd be in favor of listing the docker instructions in F*'s INSTALL.md and making a note in mitls's [Development Environment] page

[2016-09-12 22:32] vkanne-msft commented on #123
we have to reconcile the two docker setups between F* and mitls-fstar. If we can use DockerFile from F* and get rid of our DockerFile it should help reduce the redundancy.

[2016-09-12 23:08] vkanne-msft commented on #108
Blocked on following Kremlin issues
Current issues:
-          CopyArray<T>, as templates aren’t easy to support in Kremlin.  Jay, I sent you mail about this.  The fix should be just a couple of simple source edits to hard-code it to uint32 types.
-          BitwiseAdd32() and DafnyCastByteArrayToWordArray() are flagged as axioms in Dafny, resulting in undefined functions both in C# and C extracti

[2016-09-13 15:00] markulf commented on #123
there are also 3 different tocker files in F* one without emacs, one with emacs, and one with command line emacs only, that seems a bit of overkill as well.

[2016-09-13 15:08] vkanne-msft commented on #123
I agree. We should converge all of those into 1.

From: Markulf Kohlweiss <notifications@github.com>
Reply-To: mitls/mitls-fstar <reply@reply.github.com>
Date: Tuesday, September 13, 2016 at 8:00 AM
To: mitls/mitls-fstar <mitls-fstar@noreply.github.com>
Cc: Sreekanth Kannepalli <vkanne@microsoft.com>, Assign <assign@noreply.github.com>
Subject: Re: [mitls/mitls-fstar] Setting up a Docker based Dev

[2016-09-16 20:15] jaylorch commented on #108
I checked in an updated version of the SHA Dafny files that replaces CopyArray<T> with CopyUint32Array,  to avoid templates.  It's in the master branch of Spartan.

[2016-09-19 13:17] s-zanella commented on #17
Everything we need for Milestone #1 is implemented.
We still need to implement parameter validation and more elliptic curves.

[2016-09-19 13:18] s-zanella commented on #79
Not essential for Milestone #1.

[2016-09-28 14:50] markulf opened #126 "ChaCha"

[2016-09-28 15:08] markulf commented on #110
Would this be done via Kremlin now?

[2016-09-28 15:31] vkanne-msft commented on #109
This is done as we currently have an implementation

[2016-09-28 15:31] #109 closed

[2016-09-28 15:32] msprotz commented on #109
This was about having it through CoreCrypto, aka libssl. We have other implementations, but this is not covered by this issue.

[2016-09-28 15:37] msprotz commented on #107
This is about extracting AES GCM, written in Spartan, through Dafny+Kremlin, as a C file.

The extended goal is to expose OCaml bindings for these, possibly through ocaml-ctypes, so that we can rig CoreCrypto to use this implementation. (Ideally, configurable at run-time for benchmarks.)

[2016-09-30 18:14] vkanne-msft opened #128 "Side channel protection"
Per discussion during our meeting, this task is used to represent the work required for integrating side channel protection. This is part of the larger task to integrate crypto from low-level/crypto into mitls

[2016-09-30 18:18] vkanne-msft opened #129 "libcurl integrated with TLS, Crypto code"
The goal of this task is to get curl working using mitls and crypto libraries. The scenario is to be able to clone a git repo from a machine.

Initially, we will look to support only one platform (Windows).

we dont expect to integrate with any keystore yet.

[2016-09-30 18:21] vkanne-msft commented on #33
This is duplicating #112. Closing this to avoid confusion.

[2016-09-30 18:21] #33 closed

[2016-09-30 18:22] vkanne-msft opened #130 "Memory model Integration between mitls-fstar and low level/crypto"
This is core task required for integrating low-level/crypto with mitls-fstar at the memory model level.

[2016-09-30 18:29] vkanne-msft opened #131 "Functional correctness of ChaCha20, Poly1305"
Goal : To verify we have a functionally correct implementations of ChaCha20, Poly1305. This task has an overlap with #83.

[2016-09-30 18:30] vkanne-msft opened #132 "Mathematical functional correctness of AES GCM"
Goal : To verify the functional correctness of AES GCM written in F*.

[2016-09-30 18:32] vkanne-msft opened #133 "PRF, MAC, and AEAD idealization"
@ad-l @markulf , Please add a detailed description.

Goal : As part of the goal to have a fully verified Record layer we idealize AEAD constructions.

For the counter-mode based AEAD schemes AES-GCM and ChaCha-Poly, this involves idealizing a PRF and a Wegman-Carter-Shoup MAC.
- [x] Idealize PRF for MAC key generation
- [x] Idealize Wegman-Carter-Shoup MAC
- [x] Idealize PRF for Encryption and Dec

[2016-09-30 18:32] vkanne-msft opened #134 "0-RTT and 0.5 RTT focus as part of Record layer"
@ad-l, please add a detailed description of this task.

[2016-09-30 18:54] vkanne-msft commented on #123
I changed mitls wiki to use Docker from fstarlang/fstar. I find it much simpler and easier to use.

[2016-09-30 19:02] sishtiaq commented on #131
@ad-l: I can/would_like_to help with one of these, if you give me guidance from the other one.

[2016-09-30 19:10] s-zanella commented on #131
I thought that we agreed on assigning this one to me during the meeting.
I've been working on this for the past days. I'm not too far from fully verifying Poly1305. There's not much to do for ChaCha20 either.

@sishtiaq: I can leave leave some unproved lemmas or assumes for you to prove if you wish. If you want to give it a go now, I still haven't proved `lemma_toField_1 .. 3` in `Crypto.Symmetric

[2016-09-30 19:13] sishtiaq commented on #131
Thanks, @s-zanella, will have a look on Mon. I might bug you for help in helping me!

[2016-09-30 19:27] markulf commented on #98
Should this be an epic, or part of a verified record stack epic?

[2016-09-30 19:30] markulf commented on #6
@msprotz @nikswamy @fournet we had some discussions on this today, is this a good place to document them?

[2016-09-30 19:32] vkanne-msft commented on #6
Absolutely. Please add them

[2016-09-30 19:36] vkanne-msft opened #135 "Verified Record Layer"

[2016-09-30 19:37] vkanne-msft commented on #98
changed it to an epic, with all the associated tasks.

[2016-09-30 21:46] vkanne-msft commented on #28
@sishtiaq . pulling it in as a placeholder to see if this is something we can get started with in M1.

[2016-09-30 21:47] vkanne-msft commented on #74
Duplicate.

[2016-09-30 21:47] #74 closed

[2016-09-30 21:48] vkanne-msft commented on #97
Duplicate. New work items created.

[2016-09-30 21:48] #97 closed

[2016-10-03 16:48] BarryBo opened #136 "Support ALPN (Application Layer Protocol Negotation)"
This is an extension to the ClientHello message that enables clients to request HTTP/2 and other custom protocols on top of TLS.

It is needed for schannel feature parity.

From slack:

[2016-10-03 17:01] BarryBo opened #137 "Support SRTP (Secure Real-time Transport) - RFC 3711"
This will be needed for feature parity with Windows schannel.

SRTP is new in Windows, starting with:
- Windows 10 v1511 operating system
- Windows Server 2016 operating system

[2016-10-06 02:57] BarryBo opened #138 "Support TLS token binding"
This is needed for schannel parity - supporting SECBUFFER_TOKEN_BINDING in addition to ALPN.

[2016-10-13 15:24] BarryBo opened #140 "Add an API to retrieve the server certificate after a TLS handshake completes"
The scenario is an app that uses miTLS but sets config.check_peer_certificate=false.  It wants to check the certificate using its own policies.  I see processServerHelloDone optionally checking the cert, but I don't see it stored anywhere.

[2016-10-17 23:00] nikswamy commented on #73
Not much progress on this since the Cambridge all-hands summit, I'm afraid.

I've mostly been working on many F* features in support of Kremlin/Record layer, notably more normalization. Also, I've been working on the AEAD invariant in the record layer.

At this rate, I suspect that I will not be able to finish this by November 1---hope to get the proof of the AEAD invariant done by then. I expect

[2016-10-18 05:25] aseemr commented on #130
This is completed and merged in master for both F* and mitls-fstar.

[2016-10-18 05:25] #130 closed

[2016-10-23 15:17] markulf commented on #133
A lot of progress was made and @ad-l and I were not the only involved. Verification is still ongoing, and we also became more ambitious aiming at a full integration of AES-GCM within the same codebase.

[2016-10-23 15:18] markulf commented on #123
Does this mean the issue can be closed?

[2016-10-23 15:21] markulf commented on #80
The push on the record paper definitely helped our understanding os some modules. Ticked in the above list. Still lots of work to be done, on verification and review.

[2016-10-23 15:22] markulf commented on #18
Our focus was on the record. I don't know how ambitious our goals are on this for M1 beyond interoperability?

[2016-10-23 15:23] markulf commented on #125
https://github.com/mitls/mitls-fstar/issues/127

[2016-10-23 15:26] markulf commented on #66
We made progress on the use of idealization flags and their handling in Kremlin. Can someone summarize? @protz @fournet

[2016-10-24 14:04] sishtiaq opened #141 "Improve CI"
"Can you prioritize improving CI for mitls-fstar? For now it tests very little, leading to functionality bugs unnoticed for weeks. "

[2016-10-27 17:24] vkanne-msft commented on #123
Yes we can close this.

[2016-10-27 17:24] #123 closed

[2016-10-28 16:48] BarryBo commented on #112
SHA256 - extracted and working
AES - extracted and working
RSA - no Dafny/Spartan implementation yet, so no progress

[2016-11-01 13:42] sishtiaq commented on #135
@vkanne-msft Is this a duplicate of #98?

[2016-11-01 13:48] sishtiaq commented on #8
Not urgent for Milestone #1.

[2016-11-01 13:48] sishtiaq commented on #6
Not urgent for Milestone 1.

[2016-11-01 14:00] sishtiaq opened #142 "Testing Infrastructure"
Tests are there.
Tests are being running in CI.
Tests are passing.

[2016-11-01 14:07] sishtiaq opened #143 "App Integration/Deployment"
Epic for integration of Everest into applications.

[2016-11-01 14:13] sishtiaq opened #144 "Verified crypto algorithms"
Epic.

[2016-11-01 14:14] sishtiaq opened #145 "Verified crypto and Everest integration"
Epic.

[2016-11-01 14:18] sishtiaq commented on #145
duplicate of #94

[2016-11-01 14:19] vkanne-msft commented on #145
Samin, they are not duplicate s.one is about the verified algorithm itself and the other is about integration.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Samin Ishtiaq <notifications@github.com>
Sent: Tuesday, November 1, 2016 7:18:42 AM
To: mitls/mitls-fstar
Subject: Re: [mitls/mitls-fstar] Verified crypto and Everest integration (#145)

Closed #145<ht

[2016-11-01 14:33] vkanne-msft commented on #145
We are not still done with C extraction from Dafny/Spartan

[2016-11-01 14:34] #108 closed

[2016-11-01 14:37] vkanne-msft commented on #112
@BarryBo can we close this and create a new one for RSA ?

[2016-11-01 14:39] vkanne-msft opened #146 "Crypto integration between miTLS and Spartan/Dafny extracted code"
We’ll have to think through how miTLS discovers crypto algorithms and how to specify them from the host app.  This impacts all of the potential crypto providers into miTLS…. We need a verified equivalent to libcrypto.
For M1 we will make unverified calls into crypto

[2016-11-01 14:51] vkanne-msft commented on #80
@markulf Should we move this to Milestone 2

[2016-11-01 15:10] BarryBo commented on #112
Go ahead and create one for RSA.  We are still working through AES issues.  I hope to close it out later today.

[2016-11-01 15:14] BarryBo commented on #143
@sishtiaq can you please expand this with specifics - issue 129 tracks the M1 work for curl.

[2016-11-01 15:17] BarryBo commented on #146
This has high overlap with issue 145 both in M1, where miTLS's interface to crypto is changing, and beyond.

I'll use this to track simply plugging the Spartan code into OpenSSL libcrypto so that miTLS can invoke it through its current unverified callouts to OpenSSL.

[2016-11-01 15:18] vkanne-msft opened #147 "C extraction from Dafny/Spartan for RSA"
This is required work for extracting RSA written in Dafny/Spartan into C using Kremlin.

[2016-11-01 15:22] vkanne-msft commented on #107
- [ ] AES is done
- [ ] AES- CBC and HMAC is in progress
- [ ] GCM is not yet complete- Will punt to M2

[2016-11-01 15:27] sishtiaq commented on #143
@BarryBo Are there other apps/deployments that we are looking into for Milestone 1 too? If not, then I'll close this umbrella epic for such work.

[2016-11-01 15:51] markulf commented on #80
Yes, for the complete review. We should carve out a task for those modules that we verify for Milestone 1. Mostly on the Record protocol.

[2016-11-01 18:26] BarryBo commented on #143
No, there are no others planned for M1.

[2016-11-01 18:27] vkanne-msft commented on #39
Design and tested but not verified. Verification not be finished in M1.

[2016-11-01 18:28] vkanne-msft commented on #128
On track, to be completed in M1.

[2016-11-01 18:29] vkanne-msft commented on #134
only unverified PSK in M1.
Verification will not be complete in M1. however for interop purposes we will implement it to be functionally usable.

[2016-11-02 12:46] #143 closed

[2016-11-11 15:43] s-zanella commented on #131
This is complete now in the `c_record_aead` branch of `fstar`.
 See e.g. `examples/low-level/crypto/Crypto.Symmetric.Poly1305.Standalone.fst`
No assumes/admits left, the code is extracting to OCaml and C, and tests are passing.

[2016-11-11 15:43] #131 closed

[2016-12-07 07:35] #144 closed

[2016-12-07 07:36] #146 closed

[2016-12-07 18:07] markulf opened #153 "Separate integrity from confidentiality in AEAD"
Our low* based crypto provider for [AEAD](https://github.com/FStarLang/FStar/blob/master/examples/low-level/crypto/Crypto.AEAD.fst) does not currently separate betweeen integrity (authentication) and confidentiality:

It would be nice to add this but it would require proving the same global state invariant for two different PRF entry [representations](https://github.com/FStarLang/FStar/blob/master

[2017-01-19 11:15] sishtiaq opened #154 "Del unused branches"
Includes at least:
VSTS-Integration
C_website_sreetest
vkanne_recordhints
vkanne_working

[2017-01-24 08:49] sishtiaq commented on #154
Deleted these four branches.

[2017-01-24 08:49] #154 closed

[2017-02-16 09:54] sishtiaq commented on #69
https://github.com/mitls/mitls-fstar/commit/b5a102b7e3cff593da0f55df720843770ea61563 removes it from mitls;
https://github.com/FStarLang/FStar/pull/823 removes it from FStar.

[2017-02-16 09:54] #69 closed

[2017-03-15 22:04] #129 closed

[2017-03-15 22:05] #122 closed

[2017-03-15 22:06] #112 closed

[2017-03-24 15:51] sishtiaq opened #156 "Debug printing"
We want a nice way to do Debug.printf.
Ideally, in one line, with no perf effect.

[2017-03-24 16:26] sishtiaq opened #157 "Revive TestClient"
This will break soon, from all the HsHacking.

[2017-03-28 19:59] cpitclaudel opened #158 "No need to ` (defadvice message` anymore"
the latest release of fstar-mode, there should be no need for the snippet posted at the end of the README.  Instead debugging output now goes to `*fstar-debug*`, and it scrolls automatically as long as the point is at the end of the buffer.

[2017-04-24 09:03] sishtiaq opened #163 "Implement Extensions"
Work item for 1.3 Extensions.

- [x] Define data type.
- [x] Define parsing and serializing functions. Write tests for them. Prove them inverse.
[code]
- [x] Define prepareExtensions:
[code]
  for Nego.

[2017-05-02 16:10] aseemr opened #164 "Range.fst query takes a long time with z3 4.5.0, while goes through quickly with z3 nightly build (48e37b0e1603)"
The lemma in question is: `Range.fst:targetLength_converges`. Following are the numbers:

With z3 4.5.0, using hints:

`(.\Range.fst(295,0-296,27)@queries-Range-31.smt2)       Query-stats (Range.targetLength_converges, 4)      succeeded (with hint) in 1548525 milliseconds with fuel 1 and ifuel 1 and rlimit 544656000`

With z3 4.5.0, not using hints:

`(.\Range.fst(295,0-296,27))     Query-stats (R

[2017-05-02 16:15] s-zanella commented on #164
Do you mean that you're adding an `admit()`? The lemma is used elsewhere.

[2017-05-02 16:21] aseemr commented on #164
Oh yes, that's what I meant (777a6fe008636810c0aa091f12d3a78b7470c0f1).

[2017-05-02 16:39] markulf commented on #164
Would it make sense to set a verification level, similar to a debug level?

This way the lemma could be proven for nightly builds and admitted otherwise?

[2017-05-10 14:49] s-zanella commented on #163
Done for mandatory extensions. Closing.

[2017-05-10 14:49] #163 closed

[2017-05-10 14:52] s-zanella commented on #121
Done.

[2017-05-10 14:52] #121 closed

[2017-05-10 14:53] s-zanella commented on #111
We now have NIST P-256, P-384, P-521 and Curve25519 for key exchange and ECDSA.
Closing.

[2017-05-10 14:53] #111 closed

[2017-05-10 14:55] s-zanella commented on #65
Done in `mitls_handshake`. To be merged soon.

[2017-05-10 14:55] #65 closed

[2017-05-10 14:55] s-zanella commented on #62
Done.

[2017-05-10 14:55] #62 closed

[2017-05-10 14:57] s-zanella commented on #83
Done. Using OpenSSL or verified implementation in Hacl*, depending on the crypto provider.

[2017-05-10 14:57] #83 closed

[2017-05-10 15:00] s-zanella commented on #26
We support an extensive range of ciphersuites and mandatory extensions.
Please open separate issues for concrete extensions and ciphersuites that are missing and we want to implement.

[2017-05-10 15:00] #26 closed

[2017-05-10 15:01] s-zanella commented on #36
We are missing an injectivity lemma for parsing/serialization.

[2017-05-10 15:07] s-zanella commented on #6
We will eventually need to use `FStar.Buffer` instead of `Platform.Bytes`.
Recent discussion on Slack:

fournet [16:04]
Bumped into a slippery (recurrent) problem with Platform.bytes: bytes are supposed to be comparable sequences, but at runtime require a custom call to `equalbytes` to be sound. They should probably be made abstract. Also, how to anticipate the switch to lower-level bytes?

This i

[2017-05-10 15:16] s-zanella commented on #9
Bumped the priority of the issue,
We need this to implement 0-RTT in TLS 1.3.

[2017-05-10 15:21] s-zanella commented on #11
We should extend `LowCProvider` to be able to call into Hacl* code for curve25519.
This will be integrated into mitls-fstar once we unify the memory models.

[2017-05-10 15:34] s-zanella commented on #93
We now have some basic support for debugging, using flags that can be set to `false` for production code.
We need a more convenient way of disabling debug information entirely, in addition to a per-module flag.

[2017-05-10 15:36] s-zanella commented on #124
See also https://arxiv.org/abs/1703.00053

[2017-05-10 15:54] s-zanella commented on #141
CI now runs full verification and extracts `mitls.exe` (https://github.com/project-everest/everest-ci/blob/master/ci#L453)

We need to restore and run `make tests` and add a few interoperability tests.

[2017-05-10 15:55] #142 closed

[2017-05-10 15:55] s-zanella commented on #156
Duplicate for #93

[2017-05-10 15:55] #156 closed

[2017-05-11 03:51] dckc commented on #124
Very interesting! Thanks for the pointer.

I'm not sure if editorial feedback is useful or if this is a good place for it, but ...

I found a typo under _The Stack effect_: forbidsx

and a missing space in _Towards verifed assembly code_: ...  down to assembly.While ...

In _Going to an expression language_, I find this confusing:

Was that supposed to be "... required to go to a statement languag

[2017-05-11 03:54] dckc commented on #124
I suppose my question is answered. Thanks again.

[2017-05-11 03:54] #124 closed

[2017-05-11 14:55] msprotz commented on #124
Excellent catch with all the typos. I've pushed a fix in our private repository, and this will be fixed for the final version of the paper. Thanks!

[2017-06-06 22:22] msprotz opened #166 "Risk of stack overflow while using buffer_utils_memset"
@BarryBo points out that Buffer.Utils.memset is not tail-recursive (and there's a comment to that effect in the source tree). https://github.com/FStarLang/kremlin/blob/master/kremlib/C.Loops.fst has combinators for writing functions that are actual for-loops in the extracted C code.

CC @ad-l @s-zanella

[2017-06-08 08:52] herbertschulz opened #167 "Cannot connect to miTLS"

[2017-06-08 08:52] #167 closed

[2017-06-08 08:54] herbertschulz opened #168 "Cannot connect to miTLS"
Hello!
I cannot connect to miTLS, no matter what configuration (cipher suite, protocol version etc.) I choose with the client. I connect via:
`./mitls.exe -s 127.0.0.1 4443 -v 1.2 ciphers ECDHE-RSA-AES256-GCM-SHA384
`

...and always get the error:

`Fatal error: exception File "output/TestHandshake.ml", line 99, characters 14-19: Pattern matching failed`

What could be done here?
Thnx

[2017-06-08 09:35] s-zanella commented on #168
I would need some additional information to debug this:
- I'm assuming you compiled `mitls.exe` from an up-to-date clone of the `master` branch using `make -C src/tls mitls.exe`.
- You gave us the exact command you use to start the server, but which client are you using to connect to this server? If you are also using `mitls.exe`, can you tell us the exact command you use?
- You're missing a dash

[2017-06-08 11:05] herbertschulz commented on #168
Thank you for your reply.
Point 1 is true.

Actually, my client is a Java application (TLS-Attacker). Usually the command...
`config.setConnect("127.0.0.1:" + Port);`
...suffices to establish a normal handshake for other applications for Port (like OpenSSL etc.). But not for miTLS.

(I got the same error when running wolfSSL as a client and get the error: `err = -308, error state on socket`...)

[2017-06-08 11:13] s-zanella commented on #168
Did you fix the missing dash in `ciphers` and append `-sigalgs RSA+SHA256`?

[2017-06-08 11:15] herbertschulz commented on #168
Yes. Same results, even with other ciphers.

[2017-06-21 02:24] #158 closed

[2017-06-21 02:28] s-zanella commented on #157
`mitls.exe` and `cmitls.exe` (uses FFI) replace and enhance TestClient.

[2017-06-21 02:28] #157 closed

[2017-06-21 02:30] s-zanella commented on #140
Implemented in `FFI.ffiGetCert`.

[2017-06-21 02:30] #140 closed

[2017-06-21 02:34] s-zanella commented on #136
@ad-l implemented this recently. It's configurable using `FFI.ffiSetALPN`.

[2017-06-21 02:34] #136 closed

[2017-06-21 02:35] s-zanella commented on #134
Implemented now.

[2017-06-21 02:35] #134 closed

[2017-06-21 02:36] s-zanella commented on #133
Done in `hacl_star`

[2017-06-21 02:36] #133 closed

[2017-06-21 02:38] s-zanella commented on #96
Done.

[2017-06-21 02:38] #96 closed

[2017-06-21 02:39] s-zanella commented on #95
We are probably not going to implement this for the time being.

[2017-06-21 02:39] #95 closed

[2017-07-10 18:46] BarryBo opened #171 "Support NPN Application Extension"
This is fairly low priority.

On Windows, wininet.dll sends ALPN by default, and only sends NPN if HKEY_CURRENT_USER\Internet Explorer\EnableNpn is set in the registry.  I don't see this in use in other schannel applications.

Curl supports it via curl_easy_setopt(curl, CURLOPT_SSL_ENABLE_NPN, 1L);.  I believe the command line curl passes ALPN and NPN both by default, as --no-alpn and --np-npn dis

[2017-07-19 16:22] oweisse-msft opened #173 "Re-ordering the "supported_versions" extension in ClientHello causes internal_error alert from the server"
The original order of the supported versions in the ClientHello is [ 0x7f14, 0x0303 ] (i.e., draft-20, then TLS 1.2).
Reordering to [ 0x0303, 0x7f14 ] causes the server to respond with "internal_error" alert.

[2017-07-19 16:26] oweisse-msft opened #174 "No alert emitted on decryption failure of server encrypted response after ServerHello"
The extensions in ClientHello message are shuffled on-the-wire, to be legal but in different order that what was originally sent. The server replies with EncryptedExtensions etc.. The decryption fails on the client side (as it should, since the derived key is different due to the shuffling), but no alert is emitted from the client.

[2017-07-19 16:31] oweisse-msft opened #175 "miTLS and NSS servers emit different alerts when manipulating EncryptedExtensions"
Items inside EncryptedExtensions are shuffled, and encrypted with the correct server handshake key. The miTLS client responds with plaintext-alert  bad_certificate, while NSS client doesn’t emit an alert (potential NSS issue) .   
			1. In case of miTLS server and miTLS client (emitting bad_certificate), the miTLS client response will be encrypted-alert of type   decryption_failed_RESERVED
			2. I

[2017-07-19 16:34] oweisse-msft opened #176 "miTLS client does not emit alert when encrypted handshakes are shuffled"
The typical order of encrypted messages: encrypted_extensions; certificate; certificate_verify;finished;
In this experiment the order was changed, though the record was encrypted properly.
		i. miTLS client emits no alert, while NSS client emits plaintext alert unexpected_message (which makes sense)
		ii. In response to NSS client emitting the plaintext alert unexpected_message, miTLS server emits

[2017-07-19 16:36] oweisse-msft opened #177 "miTLS server responds to bad_certificate alert with encrypted alert of decryption_failed_RESERVED"
See also https://github.com/mitls/mitls-fstar/issues/176.

Is  decryption_failed_RESERVED the right response to another alert?

[2017-07-19 16:39] oweisse-msft opened #178 "Removing request-context from the encrypted certificate (sent by the server) causes a decode_error on NSS client while it only cause a “bad_certificate” error on miTLS client."
This may hide a decode bug with further implications, as this should be an illegal message

The experiment removes the request-context part from the Certificate handshake message of the server. This creates an illegal message (see section 8.3.3 Authentication Messages).

[2017-07-19 17:27] beurdouche commented on #175
@oweisse-msft Does NSS close the connection instead of sending an alert or does it keep going ?
1 - Sending a 'RESERVED' value with TLS 1.3 doesn't seem good.
3 - Not good.

[2017-07-19 17:30] beurdouche commented on #177
Not if you are using TLS 1.3.

[2017-07-19 19:02] s-zanella commented on #176
This is an interesting test! I assume this is a 1-RTT handshake.
I think this explains what's going:
- The miTLS server expects the client to send next an encrypted Finished message. It gets instead a plaintext alert. It sends a `decryption_failed_RESERVED` alert in response. This is wrong, we should never send such an alert in TLS 1.3 (see https://tlswg.github.io/tls13-spec/draft-ietf-tls-tls13-2

[2017-07-19 19:03] s-zanella commented on #177
This is another case where the server expects an encrypted message but gets a plaintext alert.
A `decryption_failed_RESERVED` alert must never be sent in TLS 1.3 (we could send `decrypt_error` instead), but really the server should parse and respond to plaintext alerts before receiving the client's Finished message.

[2017-07-20 20:26] oweisse-msft opened #179 "miTLS client send key share of type x22519, regardless of configuration done via FFI_mitls_configure_named_groups"
FFI_mitls_configure_named_groups is called, with 'P-521:P-384:P-256:FFDHE4096:FFDHE3072:FFDHE2048',
which affects the list in "supported_groups" extension in ClientHello, but the KeyShare that is sent is always x25519.

[2017-07-20 21:05] s-zanella commented on #179
This changed recently. Now we have two different fields in the configuration:
- `named_groups` determines the supported groups
- `offer_shares` determines the groups for which the client includes shares in the `key_share` extension in the initial `ClientHello`.
I believe the new syntax for FFI is e.g. `P-256:P-384:P-521@P-256:P-384` to indicate support for `P-256:P-384:P-521` but send shares for o

[2017-07-24 14:38] ad-l commented on #171
NPN is mostly dead at this point, I think it is reasonable to stick to ALPN only.

[2017-07-24 14:41] ad-l commented on #179
I changed the behavior of `ffiSetNamedGroups` to offer all supported groups if no share list is specified with the `@X:...:Z` syntax.

[2017-07-24 14:41] #179 closed

[2017-07-25 18:23] oweisse-msft opened #180 "miTLS server potentially mishandle "signature_algorithms" extension given by ClientHello"
According to section 4.4.2.2 (https://tools.ietf.org/html/draft-ietf-tls-tls13-21#section-4.4.2.2), the server must only use certificates with hashing algorithms provided in the "signature_algorithms" extension sent via the ClientHello.

In a specific experiment, the server was configured with a certificate using SHA1 (mitls-fstar/data/server-ecdsa.crt), and with CA certificate using SHA256 (mitls

[2017-07-25 22:39] oweisse-msft opened #181 "Server will always sign CertificateVerify with last given SignatureScheme in ClientHello"
1.  Client is configured to support several algorithms via FFI_mitls_configure_signature_algorithms.
2. Server is loaded with a private key and certificate via
 - _FFI_mitls_configure_cert_chain_file_,
 - _FFI_mitls_configure_private_key_file_,
 - _FFI_mitls_configure_ca_file_
3. Client sends in ClientHello "signature_algorithms" extension, listing all the supported algorithms configured in step 1

[2017-07-25 23:43] oweisse-msft opened #182 "Client will always offer TLS 1.2, regardless of configuration via FFI_mitls_configure"
_suported_versions_ extension in ClientHello will always contain 0x0303 (TLS 1.2), even though _FFI_mitls_configure_ was called with "1.3". In comparison, OpenSSL and NSS will only offer 0x7F15 (TLS 1.3 draft 21) after being configured for TLS 1.3 only.

[2017-08-03 23:02] oweisse-msft opened #183 "miTLS server HelloRetryRequest contains server_version=0x0304, hence doesn't work against NSS"
According to section 4.1.4 in the RFC (draft 21): "The version, cipher_suite, and extensions fields have the same meanings as their corresponding values in the ServerHello". Typically, a ServerHello response to TLS 1.3 ClientHello has the protocol version set to 0x7F15 (or the relevant draft number instead of 0x15).

Two issues are apparent:

1. When miTLS server send a HelloRetryRequest, it has s

[2017-08-03 23:32] oweisse-msft opened #184 "miTLS server rejects a retried ClientHello which seems to be legal"
OpenSSL client sends ClientHello, with KeyShare not supported by the miTLS client:
![image](https://user-images.githubusercontent.com/28742473/28948186-f50f94ba-7868-11e7-9205-8c3e81b2a8a0.png)

miTLS server replies with HelloRetry:
![image](https://user-images.githubusercontent.com/28742473/28948152-c97d74d4-7868-11e7-803f-1ededdd8c163.png)

OpenSSL client replies with an amended ClientHello:
![i

[2017-08-04 23:12] oweisse-msft opened #185 "miTLS server does not enforce max_early_data of a ticket properly"
Using a session ticket which has max_early_data = 16384, 5 bulks of early data messages  were sent, with sizes of 4095, 4096, 4096, 4096, 4096 bytes. Only then EndOfEarlyData was sent.

1. It seems that after the 4th early message, the server will not accept any more early data, but it will accept the first 4. I.e., the first 4 calls to _FFI_mitls_receive_ will return the first 4 early data messag

[2017-08-07 10:44] ad-l commented on #184
The new ClientHello sent by OpenSSL does not comply with the rules in 4.1.2: **the client MUST send the same ClientHello (without modification) except for key_share, early_data, cookie, pre_shared_key**
In that case extensions from the original CH are removed in the second one

[2017-08-07 20:41] jroesch opened #186 "miTLS2C: Tracking Issue"
We (@nikswamy, @protz, @tahina-pro, @Armael, and I) have begun the process of compiling miTLS to C via Kremlin. This is a tracking issue for the state of the port and the progress we have made so far.

We have begun the process by creating a new [branch](https://github.com/project-everest/everest/tree/c_mitls2c) of `everest` for this process. You can find the related work on each repository in the

[2017-08-07 20:43] jroesch commented on #186
For tomorrow's meeting my goal is to have a set of problematic examples in the current pipeline, and strategies for dealing with them (rewriting code, new types, kremlin support, etc).

[2017-08-08 16:43] s-zanella commented on #31
This is an up to date list of _orphan_ files in `src/tls`, meaning that they aren't needed to build `mitls.exe` or `cmitls.exe`:
- [ ] `AEAD0.fst`
- [ ] `AppData.fst`
- [ ] `AppFragment.fst`
- [ ] `ENC.fst`
- [ ] `Encode.fst`
- [ ] `HSFragment.fst`
- [ ] `HSL.fst`
- [ ] `IdNonce.fst`
- [ ] `KDF.Common.fst`
- [ ] `KDF.Expand.fst`
- [ ] `KDF.Salt.ODH.fst`
- [ ] `KEF.ODH.PRF.fst`
- [ ] `KEF.ODH.fst`

[2017-08-11 22:22] oweisse-msft opened #187 "miTLS API may confuse developers to write software which may be vulnerable to replay attacks"
In miTLS, when resuming a session with a session ticket, the client simply call _FFI_mitls_send_, and the data may be sent over 0RTT. The server, calling _FFI_mitls_receive_ will receive the data, without having any indication that the data is "early data" and is NOT replay protected. This can confuse developers and eventually cause software using miTLS to be vulnerable to replay attacks.

In comp

[2017-10-12 02:35] BarryBo opened #188 "FFI_mitls_quic_process() fails if the inBuf param is NULL, even if the inBufLen is 0"
For clients, it feels natural to pass NULL as the inBuf value, along with setting *inBufLen to 0.

The problem is that QUIC_recv() checks for s->in_buffer==NULL and returns -1 before checking s->in_buffer_size.  if it did the validation in the opposite order, then s->in_buffer could be NULL while building the initial ClientHello.

[2017-11-13 14:40] s-zanella commented on #164
We are now all using Z3 nightly and `Range` verifies in a reasonable time even without hints.
I removed the `admit()` but kept a comment pointing to this issue in `targetLength_converges` in case this issue recurs.

Closed by https://github.com/mitls/mitls-fstar/commit/b58aac2f9aa36e2746ff937b405cea32893a2ee9

[2017-11-13 14:40] #164 closed

[2017-12-14 23:55] BarryBo opened #189 "mipki.h is missing calling convention information for function prototypes"
mipki.h is unusable on 32-bit Windows without explicit calling convention.  It should use MITLS_CALLCONV to be consistent with libmitls.

[2017-12-14 23:57] ad-l commented on #189
Will do

[2017-12-14 23:58] BarryBo opened #190 "Drop10 is missing libmipki.lib"
Having the import lib would greatly simplify calling this DLL.  Callers wouldn't need to hand-write function pointer typedefs for all of its exports, then use LoadLibrary/GetProcAddress to bind to them all.

[2017-12-15 17:03] ad-l commented on #190
Fixed in drop11

[2017-12-15 17:03] #190 closed

[2017-12-15 17:08] ad-l commented on #189
Fixed in drop 11

[2017-12-15 17:08] #189 closed

[2017-12-15 17:10] ad-l commented on #184
Fixed in OpenSSL master

[2017-12-15 17:10] #184 closed

[2018-02-28 20:01] fournet opened #194 "fstar --indent"
Pretty printing is looking good, but we still need to fix a few issues before we can use it to normalize our source code. Here are my notes from a diff on miTLS files `TLSConstants.fst` and `HandshakeLog.fsti`.

- `perror __SOURCE_FILE__ __LINE__` should not be evaluated! Similarly `\n` etc should not be evaluated.
- unnecessary empty lines are added, e.g. 9 lines above `module` at the start of th

[2018-03-06 13:45] ad-l commented on #186
Closing, as all the steps above have been done now

[2018-03-06 13:45] #186 closed

[2018-03-06 13:46] #171 closed

[2018-03-06 13:47] ad-l commented on #180
This is fixed now (the certificate callbacks determines the possible signature on the server side based on the selected certificate)

[2018-03-06 13:47] #180 closed

[2018-03-06 13:48] ad-l commented on #183
Has been fixed a while ago

[2018-03-06 13:48] #183 closed

[2018-03-06 13:48] ad-l commented on #181
The real bug here is that we used to reverse the client's preference when we parse the list of signatures.

[2018-03-06 13:48] #181 closed

[2018-06-01 15:50] BarryBo commented on #166
Kremlin's tail-recursion optimization turned this into a nice for() loop a while back.

[2018-06-01 15:50] #166 closed

[2018-06-01 15:51] BarryBo commented on #102
This is very stale.  Closing.

[2018-06-01 15:51] #102 closed

[2018-06-01 15:52] BarryBo commented on #93
Closing.  We now have good logging in the retail build, via Windows ETW, OutputDebugString(), printf(), or host callbacks.

[2018-06-01 15:52] #93 closed

[2018-06-01 15:52] BarryBo commented on #91
Implemented long ago.

[2018-06-01 15:52] #91 closed

[2018-06-01 15:54] BarryBo commented on #11
Closing.  Done long ago.

[2018-06-01 15:54] #11 closed

[2018-06-01 15:56] BarryBo commented on #39
Closing this old work item.  Top-level TLS.fst is working nicely.

[2018-06-01 15:56] #39 closed

[2018-06-01 15:58] BarryBo commented on #185
I'm assigning to you, to confirm this is a bug, and that it'll be addresses via verification work.

[2018-06-01 15:59] BarryBo commented on #182
Assigning to you, to determine if this is a bug, and if it'll be caught/fixed during verification work.

[2018-06-01 16:00] BarryBo commented on #176
Assigning to you.  Can you please check if this is still a bug?  And if so, it should be caught and fixed during the verification push.

[2018-06-01 16:02] BarryBo commented on #175
Can you follow up on this bug?  Please check if it is still and issue, and if it'll be caught/fixed as part of the verification push?

[2018-06-01 16:03] BarryBo commented on #174
Can you check if this is still a bug, and something that'll be caught during verification?

[2018-06-01 16:03] BarryBo commented on #173
Can you check if this is still a bug, and whether it'll be caught/fixed during verification?

[2018-06-01 16:04] BarryBo commented on #147
Closing as old/stale.

[2018-06-01 16:04] #147 closed

[2018-06-01 16:05] BarryBo commented on #107
Closing as old/stale.  The new Vale/F* AES-GCM-128 for AMD64 is in the tree now.

[2018-06-01 16:05] #107 closed

[2018-06-01 16:06] #110 closed

[2018-06-01 16:07] BarryBo commented on #92
Is this still an issue?  If so, it probably makes sense to move into the F* issue tracker, and be prioritized appropriately.

[2018-06-01 16:08] BarryBo commented on #9
Closing.  We broke our dependency on databases and global state.

[2018-06-01 16:08] #9 closed

[2018-06-01 16:08] #7 closed

[2018-06-01 16:09] BarryBo commented on #6
Stale.  Closing.

[2018-06-01 16:09] #6 closed

[2018-06-01 16:10] nikswamy commented on #92
The result type is an `optResult`. I would have expected  the implementation to do a dynamic test on the length of the substring and return the `Error` case of optResult if the test fails.

But maybe that dynamic test is not possible in this context?

[2018-06-01 16:12] BarryBo commented on #187
Let's think more about this as we tidy up the TLS interface.

[2018-06-01 16:14] BarryBo commented on #177
Can you follow up on this, to make sure it is addressed during verification? If it is truly a bug in the TLS 1.3 codepath.

[2018-06-01 16:14] BarryBo commented on #138
Supported via FFI_mitls_configure_custom_extensions().

[2018-06-01 16:14] #138 closed

[2018-06-01 16:15] BarryBo commented on #137
Supported via FFI_mitls_configure_custom_extensions()

[2018-06-01 16:15] #137 closed

[2018-06-01 16:18] BarryBo commented on #92
I think this problem is that the effect declared is EXT, but the actual implementation has ML effect (it can throw).  I hit this long ago, when I was writing an alternative API to Platform.Tcp for miTLS, in F*, and couldn't use the EXT effect in my code because I got caught by the F* compiler.

[2018-06-15 09:59] CarolineMathieson opened #208 "Alert code path causes app termination"
During the handshake, if the server sends an alert, the current quic2c branch code in dll format exits the application calling the dll without warning. This alert is a valid response from the server and should not cause the app to terminate in this way.

[2018-08-14 15:09] msprotz opened #212 "Test is not run in the MSVC configuration"
https://github.com/project-everest/mitls-fstar/blob/master/src/windows/quiccrypto/makefile.vs#L22

this line doesn't work; I don't know how to do this in a visual studio makefile, short of calling into a .bat script; would anyone know how to make this work? @wintersteiger perhaps?

[2018-08-14 16:02] wintersteiger commented on #212
Use `&` instead of `;`?

[2018-08-14 16:06] msprotz commented on #212
[code]

nothing seems to run... any clue how to diagnose this?

[2018-08-14 16:25] wintersteiger commented on #212
Does it pop up any dialogs in the background saying that it didn't find DLL so and so?

[2018-08-14 16:30] msprotz commented on #212
On my machine, when I copy/paste that line, it displays some output then fails with an illegal instruction error. Nothing shows up when this is executed via the Makefile...

[2018-08-14 16:31] wintersteiger commented on #212
Right, it probably suppresses that for some reason. Maybe wrap I in `cmd /c "..."`?

[2018-08-14 16:34] wintersteiger commented on #212
I can't run that makefile, it complains that it doesn't know how to produce .obj files... I assume that's expected?

[2018-08-14 16:47] wintersteiger commented on #212
Aha! Yes, the `set` doesn't work properly when used like that, the call to `test.exe` will see the old path.

[2018-08-14 16:53] wintersteiger commented on #212
Try this:

[code]

[2018-08-23 09:26] CarolineMathieson opened #213 "error handling in dll"
When calling any of the FFI_mitls_configure_xxx functions to configure cipher suites, signature algorithms or named groups, the functions are very sensitive to the precise names used to specify the values. Since these are passed by name, the exact name must be used. When there is a slight error, the dll typically crashes the application using the dll without providing any error message.  So your a

[2018-08-31 09:44] ad-l commented on #213
Agreed it's a problem. The configuration functions currently can't return errors

[2018-08-31 09:46] #188 closed

[2018-10-02 11:55] CarolineMathieson opened #215 "Garbage Collection"
After ffi_mitls_init () is called then ffi_mitls_config () is called repeatedly by all the apps running in the system, memory is allocated for each connection. If this memory is not freed because the app crashes or something else, then it will accumulate and then after a while the system will run out of memory.

What steps, if any, are taken by the dll to garbage collect the memory no longer used

[2018-10-02 19:03] BarryBo commented on #215
FFI_mitls_configure() allocates a fresh heap region and makes allocations into it.  It is the app's responsibility to free that memory by calling FFI_mitls_close().

In usermode, if the app that called FFI_mitls_configure() crashes before calling FFI_mitls_close(), then nothing is leaked, as the entire process address space is freed.

In kernelmode, the caller is responsible for avoiding a crash,

[2018-10-02 19:03] #215 closed

[2018-12-20 14:23] ad-l opened #218 "Upgrade Extension and HandshakeMessage types to QD parsers"
In preparation of the new HandshakeLog interface, we should finish porting the types of message contents to the QD-generated ones.

- [x] Split the extension into separate types for CH, SH, EE, CR, C, NST. Remove `ext_msg` index.
- [x] Remove sum types from the leaf types (psk, protocol_version, keyShare, etc)
- [x] Upgrade `psk` to `PreSharedKeyClientExtension`/`PreSharedKeyServerExtension`
- [x]

[2018-12-21 12:55] aseemr opened #219 "Plan for low-level Handshake and HandshakeLog"
Notes from a meeting between @fournet, @ad-l, and @aseemr:

We will work towards an implementation of HS ans HSL consisting of both low-level and high-level components.

On the reading side, HSL will provide a low-level interface, in the same style that we have been working on. On the writing side, `HSL.send` will still be high-level, and will internally use QD intermediate serializers and bytes-t

[2019-01-23 16:19] ad-l commented on #218
The first part is complete in `adl_extensions`

[2019-03-14 17:33] msprotz opened #222 "Add a comment near the top of auto-generated files"
So that we know when we're looking at an auto-generated file. Might trip newcomers / people who browse the code.

[2019-03-29 14:27] msprotz opened #223 "libquiccrypto build"
As far as I know the libquiccrypto build is not under CI anywhere except for the everest upgrade. We should fix that.

Would also be good to remove the sole dependency from hacl-star to miTLS for the build of libquiccrypto.

[2019-05-02 15:56] dreemkiller opened #226 "Are the build instructions using docker out of date?"
I'm attempting to build mitls-fstar using the docker approach, but I've run into a lot of problems:
1. The "git submodile init", "git submodule update" don't do anything, the .fstar directory is not created. This can be worked around by calling "git submodule add" with the information from the .gitmodules file.
2. src/parsers/Makefile seems to be slightly off. It appears that the addsuffix in the

[2019-05-09 12:51] s-zanella opened #227 "Roadmap for a unified QUIC/TLS Multistream atop EverCrypt AEAD"
We want to implement a unified Multistream API atop EverCrypt AEAD that can be used for both QUIC and TLS.

Requirements:
- Algorithm agility
- Support for QUIC packet number encryption, integrating QUICstream
- Support for TLS 1.3 and TLS 1.2 AEAD ciphersuites
- Support for rekeying
- Built on packaged functionalities for AEAD, IV and PNE
- Minimal changes wrt current epoch-based TLS record layer

[2019-05-09 13:33] ad-l commented on #226
Good points, it seems they are indeed out of date

[2019-05-09 13:41] dreemkiller commented on #226
Will attempt to do that today.

[2019-05-09 15:43] ad-l commented on #227
Starting on `Mem` now, locking that module

[2019-05-09 18:16] msprotz commented on #227
We chatted about key expansion this morning. It's on the radar of @parno. I don't know if @karthikbhargavan's C implementation of AES-GCM also features key expansion.

Can you elaborate on 3. -- what does "connect to HACL*" mean?

[2019-05-09 19:54] parno commented on #227
@protz Do you mean IVs of non-standard length?  I recall talking about that.  I don't remember discussing key expansion.

[2019-05-09 19:55] msprotz commented on #227
Ah sorry, I got confused between the two. My bad. Then I don't know why Spec.AEAD misses key expansion. I see it there: https://github.com/project-everest/hacl-star/blob/fstar-master/specs/Spec.AEAD.fsti#L114

[2019-05-09 20:02] parno commented on #227
Regarding maximum input length, for AES-GCM, I believe @R1kM has a branch where he's working on increasing that to the NIST spec's limit.  I'm not sure how far along he is.

[2019-05-09 20:16] R1kM commented on #227
Regarding maximum input length, I had started around a week ago, but I was preempted and it still needs some more work. I'll look at it in the next few days.
Thanks for the reminder!

[2019-05-10 08:56] s-zanella commented on #227
@protz:
Re defects in `Spec.AEAD`: these were mainly raised by @fournet, so I don't know if my interpretation is accurate.

1. Maximum input length is too short: We all agree this refers to https://github.com/project-everest/hacl-star/blob/fstar-master/specs/Spec.AEAD.fsti#L62.
2. Output length is too large: I don't know what this means.
3. Connect to Hacl*: I think this means proving that a porta

[2019-05-10 13:55] ad-l commented on #226
Any update?

[2019-05-10 14:05] dreemkiller commented on #226
Sorry, didn't get to it yesterday. Hopefully this afternoon. If not, then this weekend. Thanks for being responsive, and sorry for being lame.

[2019-05-10 14:06] ad-l commented on #227
2. refers to https://github.com/project-everest/hacl-star/blob/fstar-master/specs/Spec.AEAD.fsti#L117 - the max size of cipher should be max_length a + tag_length a, i.e. pow2 20 - 1.
4. `Spec.AEAD` has expand, but it is not used in `EverCrypt.AEAD` (for create).
5. `Spec.AEAD` is missing a correctness lemma, i.e.
[code]

[2019-05-10 14:10] ad-l commented on #227
Tasks for upgrading the memory model:
- [x] Mem
- [ ] DefineTable (new, combines the end of Mem and the assumed lemmas in Pkg)
- [ ] Idx
- [ ] Pkg
- [ ] Pkg.Tree
- [ ] KDF
- [ ] KDF.Rekey

[2019-05-10 14:32] s-zanella commented on #227
@ad-l

I don't see how this relates to

I think this is another flaw, but also a case of _1. Maximum input length is too short_.

Although `EverCrypt.AEAD.fsti` doesn't use `expand` explicitly, it is part of the abstract `invariant` in the implementation: https://github.com/project-everest/hacl-star/blob/ca3e12f21d1879f192f19105dcc43ffe2f6e350b/providers/evercrypt/fst/EverCrypt.AEAD.fst#L61
I'm st

[2019-05-10 21:16] dreemkiller commented on #226
Just ran it on dev.
1. I'm not sure if it still has the git submodule problem because I didn't start fresh, but I don't see anything that changed that would make me think it didn't.
2. The src/parsers/Makefile problem seems to be fixed in dev.
3. The quackyducky/everparser problem is still there (I don't think it's omitted from the docker image - I think it's the same one from master, so that make

[2019-05-14 03:06] R1kM commented on #227
@ad-l , I pushed a change to fstar-master that doesn't restrict the length of the input or output for the Vale AES-GCM, which should address points 1 and 2. Let me know if you have any other issue with this.

[2019-05-14 12:46] ad-l commented on #226
Thanks, we are adding the missing repo in the docker image

[2019-05-14 17:44] ad-l commented on #227
@s-zanella in 8d0b4076260f502160999d72a29a4a11845cf6c4 Pkg, DefineTable and Mem are now fully verified. Can you take care of Idx? I'm moving to KDF now

[2019-05-15 12:11] ad-l commented on #227
@s-zanella Some problems I identified when looking at `Idx` this morning:
- The honesty invariant is not useful in the case where an honest handshake secret is derived from a corrupt salt0 (i.e. the `honest_idh` case). I expect we may have to change the definition of DH honesty and index DH secrets by a counter (following the paper model)
- There are difficult restrictions when reasoning about wit

[2019-05-17 12:49] s-zanella commented on #227
@ad-l
I'm afraid that if we define honesty in terms of `witnessed` many lemmas will only be provable in `ST` because of the need to bring up the witness to `testify`. That said, some logical manipulations on witnesses are possible, so some lemmas will be provable without lifting to the `ST` effect.

`lemma_honest_parent` is provable in `ST` without any axioms:

[code]

[2019-05-17 13:12] s-zanella commented on #227
@ad-l
It's also provable as a `Lemma` assuming this very reasonable axiom (it might be actually derivable from what's in `FStar.HyperStack` already):

[code]

[2019-06-06 12:41] s-zanella commented on #227
`Idx.fst` fully verifies (see https://github.com/project-everest/mitls-fstar/commit/a3259976e981d4c57bf4ce89f68848d4464e5f06 and https://github.com/project-everest/mitls-fstar/commit/07ab3e8ccabfdbb3829706db50dce1846ce43f4b#diff-a051a34719121d8ff29570c947d090f1). We managed to replace all required _stateful lemmas_ with pure versions and so there are no axioms left.

We still rely on compatibility

[2019-06-11 17:06] ad-l commented on #227
I propagated the Idx changes. As discussed, I'm preparing to merge to `dev` just to ensure the other ideal functionalities like CRF use the latest memory model and libraries. I'm working on restoring extraction on `adl_memory_model` now

[2019-06-26 19:13] Varad0612 commented on #226
Any update on the quackyducky parser problem? I am trying to build the miTLS-fstar dev branch but there doesn't seem to be a rule for '../../../quackyducky/qd', needed by 'parsers.gen' in the src/parsers MAKEFILE. This is what I get when I try to run "make -C src/tls all -k -j 2":

make: Entering directory '/home/mitls-fstar/src/tls'
rm -f cache/OCaml/.depend cache/Kremlin/.depend cache/Model/.dep

[2019-07-01 17:03] msprotz opened #230 "Tracking performance issues in the build of miTLS"
(before this disappears in the archives of slack)

summary of a performance discussion we had with @fournet yesterday...
- generation of .krml files is quadratic because we don't cache the results of F* extraction internally; we used to do it but no longer do (see https://github.com/FStarLang/FStar/issues/1596); we suspect that introducing .extracted files would be a big performance win, since par

[2019-07-19 18:32] nikswamy opened #231 "Tests towards replacing `Old.Handshake.recv_fragment`"
All of this is with respect to the `dev` branch, unless otherwise made explicit.

Please see Old.Handshake.recv_fragment in the `dev` branch.
https://github.com/project-everest/mitls-fstar/blob/dev/src/tls/Old.Handshake.fst#L1196

It currently provides a bytes-oriented interface to the rest of the handshake.

[code]

For the foreseeable future, we will continue to provide this bytes-oriented inter

[2019-07-23 07:45] aseemr commented on #231
See this for a wrapper over `HSL.Receive` as expected by `TLS.Handshake.Machine`: https://github.com/project-everest/mitls-fstar/blob/dev/src/tls/experiments/HSL.Receive.Wrapper.fst.

It also contains an implementation of `buffer_received_fragment`. The way the invariant of this wrapper is structured, I think it should be simple to call `HSL.Receive.receive` functions. Trying one out is the next s

[2019-07-23 16:18] s-zanella opened #232 "Verification infrastructure for table of connections"
We need to maintain a table (or map) of connections, where each connection evolves monotonically according to the reflexive transitive closure of a relation encoding the TLS connection state machine.

- We need to maintain invariants that encode relations between connections in the table. These typically have the form

[code]
For instance: if there is a server connection in the table that has rece

[2019-08-01 10:37] s-zanella commented on #232
1. [The first alternative](https://github.com/project-everest/mitls-fstar/blob/dev/src/tls/experiments/ConnectionTable.fst) depends on a[ generalization of `FStar.Monotonic.DependentMap`](https://github.com/project-everest/mitls-fstar/blob/dev/src/tls/experiments/FStar.Monotonic.DependentTable.fsti), allowing entries to evolve according to a dependent preorder `rel`. The preorder of the table itse

[2019-08-01 10:37] s-zanella commented on #232
2. [The second alternative](https://github.com/project-everest/mitls-fstar/blob/dev/src/tls/experiments/ConnectionTable2.fst) uses a table mapping connection IDs to monotonic references to values of the same inductive type of connection states as before. We use the table invariant to keep correspondence assertions, expressed in terms of witnesses (i.e. `token_p`):

[code]
Here the challenge is to

[2019-08-01 10:37] s-zanella commented on #232
3. [The third alternative](https://github.com/project-everest/mitls-fstar/blob/dev/src/tls/experiments/ConnectionTable3.fst) uses a table mapping connection IDs to monotonic references storing the connection state. In contrast to the previous representation the references are manually managed and freeable.

[code]

We keep correspondence assertions in a separate stateful invariant, with a stateful

[2019-08-08 16:34] nikswamy opened #235 "Upgrading configurations"
The end of TLSConstants defines a type called config. It contains both
- ordinary configuration data
- and application callbacks, e.g., ticket_callback, nego_callback,
    etc.

This is passed to create a connection and used primarily in
Negotiation and Handshake

There are several problems:

1. This is a high-level datatype with fields like named_groups that
   are lists, incurring memory overhea

[2019-08-09 21:11] nikswamy opened #236 "TLS Local Encryption"
Within TLS, there are several uses of internally determined encryption constructions.

For instance, to represent PSK identifiers, we choose an encrypted blob `{  PSK keyid info }K-seal` to represent a key identifier. We have similar ad hoc encryptions for cookies, tickets and seals.

The existing code uses the high-level interface to EverCrypt AEAD using AEADProvider, a bytes-oriented interface.

[2019-10-14 10:38] s-zanella commented on #232
By allocating a global connection `table` we can support stateless server retry with cookies encrypted using `Crypto.{AEAD,AE}`. We attach the following predicate to plaintext cookies (depending on `table`):

[code]
Upon successful decryption of a cookie appearing in a `ClientHello` message, a server can recover the initial `ClientHello` and `HelloRetryRequest` messages and any additional state an

[2019-11-05 22:14] nikswamy opened #240 "A memory and data model for miTLS"
We have in several related branches a prototype implementation of the miTLS memory model
https://github.com/mitls/mitls-papers/wiki/The-Memory-Model-of-miTLS  (private link)

To merge this into the no_hsl branch of miTLS the following work items need to be completed

## F* branch: nik_dynamic_regions to be merged to master
- [ ] Runtime support for dynamic regions in kremlin extraction (@protz )
-

[2019-11-06 13:16] ad-l commented on #240
Sounds like a good plan, I'm happy to take care of the QD changes as soon as `LowParse.Repr.fst` is moved to LowParse

[2019-11-27 08:55] aseemr commented on #240
The support for the witnessed buffer lemma and dynamic regions is in F* master. Remaining tasks there:

* Weaken  the preconditions of existing `ralloc` and `ralloc_mm` functions to work on heap regions

* Add no-op extraction for dynamic regions that defaults to `malloc` etc.

Hope to finish them by tomorrow.

[2020-10-14 14:13] KristianOstrup opened #246 "Custom setup using Cygwin and Ocaml Issue"
I am trying to follow the readme build environment setup for the Cygwin OCaml setup. I have the relevant packages described and a .fstar submodule of the F* repos with a OCaml build (as suggested in the text). I've had no errors till now, but when running the suggested command "make all-ver -j 2" in the tls directory in Cygwin, I get

I tried "make all -j 2" but it produces the result:

What am I

[2020-10-16 14:49] msprotz commented on #246
maybe @tahina-pro knows what's up? it could be that you need to run "make" in the quackyducky directory, or that you have failed to export QD_HOME -- try fixing those two then `git clean -fdx` then building again?

[2020-10-16 14:49] msprotz commented on #246
I myself almost invariably encounter the same problem, FWIW

[2020-10-16 16:01] tahina-pro commented on #246
Yes, you need QD_HOME set to the directory where EverParse is installed.
By the way, this README.md seems really outdated, it does not mention such dependencies as EverParse, HACL*, or even Kremlin. So the best way for now is to use the Everest script following instructions at https://project-everest.github.io/

[2020-10-22 11:37] KristofferAstrup commented on #246
Thank you for your suggestions.
I ended up using the instructions from https://project-everest.github.io/ and was able to call check and make without errors.

Cheers,
Kristian

[2021-12-16 20:59] DemiMarie opened #251 "Document where the actual work is happening"
The vast majority of commits are `[CI]: regenerate hints`, which doesn’t indicate where the actual work is happening.

[2021-12-16 21:04] DemiMarie opened #252 "Document the roadmap of the project"
Is there an estimated time for when mitls will be usable in production, for example?

[2021-12-17 07:21] beurdouche commented on #252
Hi Demi, miTLS is already used in production, however the complexity of the project makes it difficult to treat as a traditional software artifact for third parties. I can let @protz or @ad-l comment more on that if they want.

[2021-12-17 07:53] DemiMarie commented on #252
I know that parts of HACL\* are already used in places such as NSS.  What about the TLS and hoped-for QUIC implementations?

[2021-12-17 07:56] beurdouche commented on #252
The TLS and QUIC parts are used in production too, but not at Mozilla.
I'll let the MSFT folks comment on that point if they want to... : )

[2021-12-17 10:41] DemiMarie commented on #252
If there is a formally verified TLS implementation I want to see it in @curl!

[2022-08-08 01:07] tahina-pro opened #255 "Restore quicMinusNet using everquic-crypto"
This issue is a follow-up to #254 .

Currently, since merging that PR and project-everest/hacl-star#584, Everest upgrades have been breaking, since quic_provider was removed from HACL*. quic_provider should be replaced with https://github.com/project-everest/everquic-crypto (which I just added as part of Everest), so quicMinusNet should be updated accordingly.